<div class="grid-logo">
    <ul class="press">
        <li>
            <div class="press-logo">
                <img alt="Telkom" src="/assets/images/landing/telkom.png" />
            </div>
        </li>
        <li>
            <div class="press-logo">
                <img alt="Telkom" src="/assets/images/landing/pegadaian.png" />
            </div>
        </li>
        <li>
            <div class="press-logo">
                <img alt="Telkom" src="/assets/images/landing/pln.png" />
            </div>
        </li>
        <li>
            <div class="press-logo">
                <img alt="Telkom" src="/assets/images/landing/pertamina.png" />
            </div>
        </li>
        <li class="last">
            <div class="press-logo">
                <img alt="Telkom" src="/assets/images/landing/pnm.png" />
            </div>
        </li>
        <li></ul>
    </div>