<div class="grid-logo">
    <ul class="press">
        <li>
            <div class="press-logo">
                <img alt="Telkom" src="/assets/images/landing/telkom.png" id="telkom"/>
            </div>
        </li>
        <li>
            <div class="press-logo">
                <img alt="Telkom" src="/assets/images/landing/pegadaian.png" id="pegadaian"/>
            </div>
        </li>
        <li>
            <div class="press-logo">
                <img alt="Telkom" src="/assets/images/landing/pln.png" id="pln"/>
            </div>
        </li>
        <li>
            <div class="press-logo">
                <img alt="Telkom" src="/assets/images/landing/pertamina.png" id="pertamina"/>
            </div>
        </li>
        <li class="last">
            <div class="press-logo">
                <img alt="Telkom" src="/assets/images/landing/pnm.png" id="pnm"/>
            </div>
        </li>
        <li></ul>
    </div>