<div class="dokumen">
  <div class="profile-content-grid my-2">
    <div class="k-actions k-actions-end">
      <button kendoButton *ngIf="!opened" (click)="open()" icon="k-icon k-i-plus-outline" class="k-button k-primary add-btn" id="btn-tambah-dokumen">Tambah</button>
    </div>
    <kendo-grid [data]="gridData">
        <kendo-grid-column field="no" title="No.">
        </kendo-grid-column>
        <kendo-grid-column field="nama" title="Nama Dokumen">
        </kendo-grid-column>
        <kendo-grid-column field="tanggalTerbit" title="Tanggal Terbit">
        </kendo-grid-column>
        <kendo-grid-column field="tanggalExpired" title="Tanggal Expired">
        </kendo-grid-column>
        <kendo-grid-column field="namaFile" title="Nama File">
          <!-- <a class="lampiran-url" (click)="download(dataItem.file, dataItem.lampiran)">{{ dataItem.lampiran }}</a> -->
        </kendo-grid-column>
        <kendo-grid-column field="id" title="Action">
          <ng-template kendoGridCellTemplate let-dataItem>
            <div *ngIf="!dataItem.deletedAt">
              <span>
                <img src="/assets/icons/edit.png" alt="" class="action-button" id="btn-update">
              </span>
              <span>
                <img src="/assets/icons/delete.png" alt="" class="action-button" id="btn-delete">
              </span>
            </div>
            <kendo-label *ngIf="dataItem.deletedAt" class="text-deleted-at">Terhapus</kendo-label>
          </ng-template>
        </kendo-grid-column>
    </kendo-grid>
  </div>
</div>