<div class="dokumen">
  <div class="profile-content-grid my-3">
      <kendo-grid [data]="gridData">
          <kendo-grid-column field="no" title="No.">
          </kendo-grid-column>
          <kendo-grid-column field="nama" title="Nama Dokumen">
          </kendo-grid-column>
          <kendo-grid-column field="tanggalTerbit" title="Tanggal Terbit">
          </kendo-grid-column>
          <kendo-grid-column field="tanggalExpired" title="Tanggal Expired">
          </kendo-grid-column>
          <kendo-grid-column field="namaFile" title="Nama File">
          </kendo-grid-column>
          <kendo-grid-column field="Action" title="Aksi">
          </kendo-grid-column>
      </kendo-grid>
  </div>
</div>