<div class="register-section">
    <form class="k-form login-form" [formGroup]="form">

        <div class="register-form-title">
            <label class="welcome-text">Selamat datang di</label> <br>
            <label class="eproc-text">PaDi eProc</label>
        </div>

        <div class="register-form-title">
            <label class="welcome-text">Registrasi Vendor</label>
        </div>

        <fieldset class="k-form-fieldset">
            
            
            <kendo-formfield>
                <kendo-label [for]="email" text="Nama Badan Usaha"></kendo-label>
                <kendo-textbox formControlName="namaBadanUsaha" [clearButton]="true" #namaBadanUsaha required></kendo-textbox>                
                <kendo-formhint></kendo-formhint>
                <kendo-formerror>Error: Nama Badan Usaha is required</kendo-formerror>
            </kendo-formfield>

            <kendo-formfield>
                <kendo-label [for]="npwp" text="NPWP"></kendo-label>
                <kendo-textbox formControlName="npwp" [clearButton]="true" #npwp required pattern="\d{10}" ></kendo-textbox>                
                <kendo-formhint>Isi NPWP dengan format: 99.999.999.9-999.999</kendo-formhint>
                <kendo-formerror>Error: NPWP is required</kendo-formerror>
            </kendo-formfield>

            <kendo-formfield>
                <kendo-label [for]="email" text="Alamat Email PIC"></kendo-label>
                <kendo-textbox formControlName="email" [clearButton]="true" #email required></kendo-textbox>                
                <kendo-formhint></kendo-formhint>
                <kendo-formerror>Error: Email is required</kendo-formerror>
            </kendo-formfield>

            <kendo-formfield>
                <kendo-label [for]="namaPic" text="Nama PIC"></kendo-label>
                <kendo-textbox formControlName="namaPic" [clearButton]="true" #namaPic required></kendo-textbox>                
                <kendo-formhint></kendo-formhint>
                <kendo-formerror>Error: Nama PIC is required</kendo-formerror>
            </kendo-formfield>
            
            <kendo-formfield>
                <kendo-label [for]="noTelp" text="Nomor Telepon PIC"></kendo-label>
                <kendo-numerictextbox formControlName="noTelp" #noTelp required format="#" [spinners]="false"></kendo-numerictextbox>                
                <kendo-formhint></kendo-formhint>
                <kendo-formerror>Error: Nomor Telepon is required</kendo-formerror>
            </kendo-formfield>

            <div class="k-form-buttons">
                <button class="k-button k-primary vms-btn" (click)="register()">Register</button>
            </div>
            
        </fieldset>

        <div class="reg">
            Sudah punya akun? <a href="login">Login</a>
        </div>

    </form>
</div>