<div class="container">
  <div class="row mt-2">
    <h5>Akta Pendirian</h5>
    <div class="row align-items-center my-2">
      <div class="col-6 k-hstack">
        <kendo-label class="col">No. Akta Pendirian</kendo-label>
        <kendo-textbox id="noAktaPendirian" class="col"></kendo-textbox>
      </div>
      <div class="col-6 k-hstack">
        <kendo-label class="col">Tanggal Terbit</kendo-label>
        <kendo-datepicker id="tanggalTerbitAktaPendirian"></kendo-datepicker>
      </div>
    </div>
    <div class="row align-items-center my-2">
      <div class="col-6 k-hstack">
        <kendo-label class="col">Notaris</kendo-label>
        <kendo-textbox id="notarisAktaPendirian" class="col"></kendo-textbox>
      </div>
      <div class="col-6 k-hstack">
        <kendo-label class="col">Notaris Pengganti</kendo-label>
        <kendo-textbox id="notarisPenggantiAktaPendirian" class="col"></kendo-textbox>
      </div>
    </div>
  </div>
  <div class="row mt-2 align-items-center">
    <h5>Akta Perubahan</h5>
    <div class="row align-items-center my-2">
      <div class="col-6 k-hstack">
        <kendo-label class="col">No. Akta Perubahan</kendo-label>
        <kendo-textbox id="noAktaPerubahan" class="col"></kendo-textbox>
      </div>
      <div class="col-6 k-hstack">
        <kendo-label class="col">Tanggal Terbit</kendo-label>
        <kendo-datepicker id="tanggalTerbitAktaPerubahan"></kendo-datepicker>
      </div>
    </div>
    <div class="row align-items-center my-2">
      <div class="col-6 k-hstack">
        <kendo-label class="col">Notaris</kendo-label>
        <kendo-textbox id="notarisAktaPerubahan" class="col"></kendo-textbox>
      </div>
      <div class="col-6 k-hstack">
        <kendo-label class="col">Notaris Pengganti</kendo-label>
        <kendo-textbox id="notarisPenggantiAktaPerubahan" class="col"></kendo-textbox>
      </div>
    </div>
    <div class="row align-items-center my-2">
      <div class="col-6 hstack">
        <kendo-label class="col">No. SK Pengesahan Menteri</kendo-label>
        <kendo-textbox id="noSkPengesahanMenteri" class="col"></kendo-textbox>
      </div>
      <div class="col-6 hstack">
        <kendo-label class="col">Tanggal Terbit</kendo-label>
        <kendo-datepicker id="tanggalTerbitSkPengesahan"></kendo-datepicker>
      </div>
    </div>
    <div class="row align-items-center my-2">
      <div class="col-6 k-hstack">
        <kendo-label class="col">NPWP</kendo-label>
        <kendo-textbox id="npwpAktaPerubahan" class="col"></kendo-textbox>
      </div>
      <div class="col-6 k-hstack">
        <kendo-label class="col">Tanggal Terbit</kendo-label>
        <kendo-datepicker id="tanggalTerbitNpwp" class="col"></kendo-datepicker>
      </div>
    </div>
    <div class="row align-items-center my-2">
      <div class="col-6 k-hstack">
        <kendo-label class="col">No. SIUP / Surat Izin Berusaha</kendo-label>
        <kendo-textbox id="noSiup" class="col"></kendo-textbox>
      </div>
      <div class="col-6 k-hstack">
        <kendo-label class="col">Tanggal Terbit</kendo-label>
        <kendo-datepicker id="tanggalTerbitNoSiup" class="col"></kendo-datepicker>
      </div>
    </div>
  </div>
  <div class="row align-items-center">
    <h5>NIB / TDP</h5>
    <div class="row h-stack align-items-center my-2">
      <div class="col-6 k-hstack">
        <kendo-label class="col">No. NIB / TDP</kendo-label>
        <kendo-textbox id="noSiup" class="col"></kendo-textbox>
      </div>
      <div class="col-6 k-hstack align-items-center">
        <input id="seumurHidupNib" type="checkbox" #tanggalExpireNoNib kendoCheckBox />
        <kendo-label class="mx-2">Seumur Hidup</kendo-label>
      </div>
    </div>
    <div class="row h-stack align-items-center my-2">
      <div class="col-6 hstack">
        <kendo-label class="col-6">Tanggal Terbit</kendo-label>
        <kendo-datepicker id="tanggalTerbitNoNib" class="col-6"></kendo-datepicker>
      </div>
      <div class="col-6 hstack">
        <kendo-label class="col-6">Tanggal Expire</kendo-label>
        <kendo-datepicker id="tanggalExpireNoNib" class="col-6"></kendo-datepicker>
      </div>
    </div>
  </div>
  <div class="row align-items-center mb-3">
    <h5>IDP / SITU</h5>
    <div class="row align-items-center my-2">
      <div class="col-6 k-hstack">
        <kendo-label class="col">No.IDP / SITU</kendo-label>
        <kendo-textbox id="noSiup" class="col"></kendo-textbox>
      </div>
      <div class="col-6 k-hstack align-items-center float-right">
        <input id="seumurHidupIdp" class="mr-3" type="checkbox" #tanggalExpireNoIdp kendoCheckBox />
        <kendo-label class="mx-2">Seumur Hidup</kendo-label>
      </div>
    </div>
    <div class="row align-items-center my-2">
      <div class="col-6 k-hstack">
        <kendo-label class="col-6">Tanggal Terbit</kendo-label>
        <kendo-datepicker id="tanggalTerbitNoIdp" class="col-6"></kendo-datepicker>
      </div>
      <div class="col-6 k-hstack">
        <kendo-label class="col-6">Tanggal Expire</kendo-label>
        <kendo-datepicker id="tanggalExpireNoIdp" class="col-6"></kendo-datepicker>
      </div>
    </div>
  </div>
  <div style="float: right;">
    <button kendoButton id="simpanLegalitas" class="k-primary my-3 float-right">Simpan</button>
  </div>
</div>