<div class="row profile-section">

  <div class="profile-content-modal modal-neraca">

    <kendo-dialog title="Tambah Neraca" *ngIf="openNeraca" (close)="triggerModal('neraca')" [minWidth]="250" [width]="600">
      <form class="k-form modal-form">

        <div class="row">
          <div class="col-3 modal-label">
            <p>Tahun</p>
          </div>
          <div class="col-9 modal-field">
            <kendo-formfield [formGroup]="formNeraca">
              <kendo-numerictextbox class="content-input-field" id="input-neraca-tahun" formControlName="tahun" format="#" [min]="0" [maxlength]="4" #tahun required></kendo-numerictextbox>
              <kendo-formhint></kendo-formhint>
              <kendo-formerror>Tahun tidak boleh kosong</kendo-formerror>
            </kendo-formfield>
          </div>
        </div>

        <div class="row">
          <div class="col-3 modal-label">
            <p>Aktiva (Asset)</p>
          </div>
          <div class="col-9 modal-field">
            <kendo-formfield [formGroup]="formNeraca">
              <kendo-numerictextbox class="content-input-field" id="input-neraca-aktiva" formControlName="aktiva" format="Rp\ ##,#" [maxlength]="maxLength" #aktiva required></kendo-numerictextbox>                
              <kendo-formhint></kendo-formhint>
              <kendo-formerror>Aktiva (Asset) tidak boleh kosong</kendo-formerror>
            </kendo-formfield>
          </div>
        </div>

        <div class="row">
          <div class="col-3 modal-label">
            <p>Pasiva (Liability)</p>
          </div>
          <div class="col-9 modal-field">
            <kendo-formfield [formGroup]="formNeraca">
              <kendo-numerictextbox class="content-input-field" id="input-neraca-pasiva" formControlName="pasiva" format="Rp\ ##,#" #pasiva [maxlength]="maxLength" required></kendo-numerictextbox>                
              <kendo-formhint></kendo-formhint>
              <kendo-formerror>Passiva (Liability) tidak boleh kosong</kendo-formerror>
            </kendo-formfield>
          </div>
        </div>

        <div class="row">
          <div class="col-3 modal-label">
            <p>Ekuitas (Equity)</p>
          </div>
          <div class="col-9 modal-field">
            <kendo-formfield [formGroup]="formNeraca">
              <kendo-numerictextbox class="content-input-field" id="input-neraca-ekuitas" formControlName="equitas" format="Rp\ ##,#" #equitas [maxlength]="maxLength" required></kendo-numerictextbox>                
              <kendo-formhint></kendo-formhint>
              <kendo-formerror>Ekuitas (Equity) tidak boleh kosong</kendo-formerror>
            </kendo-formfield>
          </div>
        </div>

        <div class="row">
          <div class="col-3 modal-label">
            <p>Omzet Bersih</p>
          </div>
          <div class="col-9 modal-field">
            <kendo-formfield [formGroup]="formNeraca">
              <kendo-numerictextbox class="content-input-field" id="input-neraca-omzet" formControlName="omzet" format="Rp\ ##,#" [maxlength]="maxLength" #omzet required></kendo-numerictextbox>                
              <kendo-formhint></kendo-formhint>
              <kendo-formerror>Omzet Bersih tidak boleh kosong</kendo-formerror>
            </kendo-formfield>
          </div>
        </div>
        
        <div class="k-actions k-actions-end">
          <div class="profile-content-modal-btn">
            <button type="button" class="k-button vms-btn" (click)="triggerModal('neraca')" id="btn-batal-neraca">
              Batal
            </button>
          </div>
          <div class="profile-content-modal-btn">
            <button type="button" class="k-button k-primary vms-btn vms-btn-primary" (click)="submitNeraca()" id="btn-simpan-neraca">
              Simpan
            </button>
          </div>
        </div>
        
      </form>
    </kendo-dialog>

  </div>

  <div class="profile-content-modal modal-spt">

    <kendo-dialog title="Tambah SPT Tahunan" *ngIf="openSPT" (close)="triggerModal('spt')" [minWidth]="250" [width]="600">
      <form class="k-form modal-form">
        
        <div class="row">
          <div class="col-3 modal-label">
            <p>Tahun</p>
          </div>
          <div class="col-9 modal-field">
            <kendo-formfield [formGroup]="formSPT">
              <kendo-numerictextbox class="content-input-field" id="input-spt-tahun" formControlName="tahunSPT" format="#" [maxlength]="4" #tahunSPT required></kendo-numerictextbox>
              <kendo-formhint></kendo-formhint>
              <kendo-formerror>Tahun tidak boleh kosong</kendo-formerror>
            </kendo-formfield>
          </div>
        </div>

        <div class="row">
          <div class="col-3 modal-label">
            <p>Nomor Dokumen</p>
          </div>
          <div class="col-9 modal-field">
            <kendo-formfield [formGroup]="formSPT">
              <kendo-textbox class="content-input-field" id="input-spt-nomor-dokumen" formControlName="nomorDokumen" [clearButton]="true" #nomorDokumen required></kendo-textbox>                
              <kendo-formhint></kendo-formhint>
              <kendo-formerror>Nomor Dokumen tidak boleh kosong</kendo-formerror>
            </kendo-formfield>
          </div>
        </div>

        <div class="row">
          <div class="col-3 modal-label">
            <p>Lampiran</p>
          </div>
          <div class="col-9 modal-field">
            <kendo-formfield [formGroup]="formSPT">
              <kendo-fileselect (select)="selectEventHandler($event)" [multiple]="false" id="input-spt-lampiran" required name="lampiran" #lampiran="ngModel" [restrictions]="fileRestrictions" [(ngModel)]="lampiranFiles" [ngModelOptions]="{standalone: true}" (change)="upload()"></kendo-fileselect>
              <kendo-formhint>Dokumen harus berupa JPG / PNG / PDF dengan maksimum size 2MB</kendo-formhint>
              <kendo-formerror *ngIf="invalidMaxFileSize">Maksimum ukuran file adalah 2MB</kendo-formerror>
              <kendo-formerror *ngIf="invalidFileExtension">Dokumen harus berupa JPG / PNG / PDF dengan maksimum size 2MB</kendo-formerror>
            </kendo-formfield>
          </div>
        </div>

        <div class="k-actions k-actions-end">
          <div class="profile-content-modal-btn">
            <button type="button" class="k-button vms-btn" (click)="triggerModal('spt')" id="btn-batal-spt">
              Batal
            </button>
          </div>
          <div class="profile-content-modal-btn">
            <button type="button" class="k-button k-primary vms-btn vms-btn-primary" (click)="submitSPT()" id="btn-simpan-spt" [disabled]="disableSubmit">
              {{ submitButtonText }}
            </button>
          </div>
        </div>

      </form>
    </kendo-dialog>
  </div>

  <div class="col-2 profile-menu">
    <app-sidebar></app-sidebar>
  </div>

  <div class="col-10 profile-content-container">

    <div class="profile-content">

      <div class="profile-content-title">
        <kendo-label>Bank</kendo-label>
      </div>

      <div class="profile-keuangan-field">
        
        <div class="row bank-field">
          <div class="col-3 content-label">
            <kendo-label>Nama Bank</kendo-label>
          </div>
          <div class="col-9 content-field">
            <kendo-formfield [formGroup]="formKeuangan">
              <kendo-autocomplete class="content-input-field" id="input-keuangan-nama-bank" formControlName="namaBank" [data]="listNamaBank" [kendoDropDownFilter]="{ operator: 'contains' }" required></kendo-autocomplete>
              <!-- <kendo-textbox class="content-input-field" id="input-keuangan-nama-bank" formControlName="namaBank" [clearButton]="true" #namaBank required></kendo-textbox>                 -->
              <kendo-formhint></kendo-formhint>
              <kendo-formerror>Nama Bank tidak boleh kosong</kendo-formerror>
            </kendo-formfield>
          </div>
        </div>

        <div class="row bank-field">
          <div class="col-3 content-label">
            <kendo-label>Cabang</kendo-label>
          </div>
          <div class="col-9 content-field">
            <kendo-formfield [formGroup]="formKeuangan">
              <kendo-textbox class="content-input-field" id="input-keuangan-cabang" formControlName="cabang" [clearButton]="true" #cabang required></kendo-textbox>                
              <kendo-formhint></kendo-formhint>
              <kendo-formerror>Cabang tidak boleh kosong</kendo-formerror>
            </kendo-formfield>
          </div>
        </div>

        <div class="row bank-field">
          <div class="col-3 content-label">
            <kendo-label>Nomor Rekening</kendo-label>
          </div>
          <div class="col-9 content-field">
            <kendo-formfield [formGroup]="formKeuangan">
              <kendo-textbox class="content-input-field" id="input-keuangan-nomor-rekening" formControlName="nomorRekening" [clearButton]="true" #nomorRekening required></kendo-textbox>                
              <kendo-formhint></kendo-formhint>
              <kendo-formerror>Nomor Rekening tidak boleh kosong</kendo-formerror>
            </kendo-formfield>
          </div>
        </div>

        <div class="row bank-field">
          <div class="col-3 content-label">
            <kendo-label>Nama Pemilik Rekening</kendo-label>
          </div>
          <div class="col-9 content-field">
            <kendo-formfield [formGroup]="formKeuangan">
              <kendo-textbox class="content-input-field" id="input-keuangan-nama-pemilik-rekening" formControlName="namaPemilikRekening" [clearButton]="true" #namaPemilikRekening required></kendo-textbox>                
              <kendo-formhint></kendo-formhint>
              <kendo-formerror>Cabang tidak boleh kosong</kendo-formerror>
            </kendo-formfield>
          </div>
        </div>
        
      </div>

      <div class="profile-keuangan-table">
        
        <div class="profile-content-title">
          <kendo-label>Neraca Keuangan</kendo-label>
        </div>

        <div class="profile-content-grid">
          <kendo-grid [data]="gridViewNeraca" [pageable]="true" [pageSize]="pageSize" [skip]="skip" (pageChange)="pageChangeNeraca($event)">
            <kendo-grid-column field="tahun" title="Tahun">
            </kendo-grid-column>
            <kendo-grid-column field="aktiva" title="Aktiva (Asset)">
              <ng-template kendoGridCellTemplate let-dataItem>
                {{ dataItem.aktiva | currency:'Rp. ':'symbol':'4.0-2' }}
              </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="pasiva" title="Passiva (Liability)">
              <ng-template kendoGridCellTemplate let-dataItem>
                {{ dataItem.pasiva | currency:'Rp. ':'symbol':'4.0-2' }}
              </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="equitas" title="Ekuitas (Equity)">
              <ng-template kendoGridCellTemplate let-dataItem>
                {{ dataItem.equitas | currency:'Rp. ':'symbol':'4.0-2' }}
              </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="omzet" title="Omzet Bersih">
              <ng-template kendoGridCellTemplate let-dataItem>
                {{ dataItem.omzet | currency:'Rp. ':'symbol':'4.0-2' }}
              </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="id" title="Action">
              <ng-template kendoGridCellTemplate let-dataItem>
                <div *ngIf="!dataItem.deletedAt">
                  <span>
                    <img src="/assets/icons/edit.png" alt="" class="action-button" (click)="updateFormNeraca(dataItem)" id="btn-update-neraca">
                  </span>
                  <span>
                    <img src="/assets/icons/delete.png" alt="" class="action-button" (click)="deleteConfirmation('neraca', dataItem.id, dataItem.tahun)" id="btn-delete-neraca">
                  </span>
                </div>
                <kendo-label *ngIf="dataItem.deletedAt" class="text-deleted-at">Terhapus</kendo-label>
              </ng-template>
            </kendo-grid-column>
          </kendo-grid>

          <div class="k-actions k-actions-end">
            <div class="col-2 profile-content-grid-button">
              <button kendoButton *ngIf="!openNeraca" (click)="triggerModal('neraca')" icon="k-icon k-i-plus-outline" class="vms-btn vms-btn-primary" id="btn-tambah-neraca">
                Tambah Neraca
              </button>
            </div>
          </div> 
          
        </div>

      </div>

      <div class="profile-keuangan-table">
        
        <div class="profile-content-title">
          <kendo-label>SPT Tahunan</kendo-label>
        </div>

        <div class="profile-content-grid">
          <kendo-grid [data]="gridViewSPT" [pageable]="true" [pageSize]="pageSize" [skip]="skip" (pageChange)="pageChangeSPT($event)">
            <kendo-grid-column field="tahun" title="Tahun">
            </kendo-grid-column>
            <kendo-grid-column field="nomor" title="Nomor">
            </kendo-grid-column>
            <kendo-grid-column field="lampiran" title="Lampiran">
              <ng-template kendoGridCellTemplate let-dataItem>
                <a class="lampiran-url" (click)="download(dataItem.file, dataItem.lampiran)">{{ dataItem.lampiran }}</a>
              </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="submitDate" title="Waktu Upload">
            </kendo-grid-column>
            <kendo-grid-column field="id" title="Action">
              <ng-template kendoGridCellTemplate let-dataItem>
                <div *ngIf="!dataItem.deletedAt">
                  <span>
                    <img src="/assets/icons/edit.png" alt="" class="action-button" (click)="updateFormSPT(dataItem)" id="btn-update-spt">
                  </span>
                  <span>
                    <img src="/assets/icons/delete.png" alt="" class="action-button" (click)="deleteConfirmation('spt', dataItem.id, dataItem.tahun)" id="btn-delete-spt">
                  </span>
                </div>
                <kendo-label *ngIf="dataItem.deletedAt" class="text-deleted-at">Terhapus</kendo-label>                
              </ng-template>
            </kendo-grid-column>
          </kendo-grid>

          <div class="k-actions k-actions-end">
            <div class="col-2 profile-content-grid-button">
              <button kendoButton *ngIf="!openSPT" (click)="triggerModal('spt')" icon="k-icon k-i-plus-outline" class="vms-btn vms-btn-primary" id="btn-tambah-spt">
                Tambah SPT Tahunan
              </button>
            </div>
          </div>
          
        </div>

      </div>

      <div class="profile-content-title">
        <kendo-label>Modal</kendo-label>
      </div>
      
      <div class="profile-keuangan-field">

        <div class="row bank-field">
          <div class="col-3 content-label">
            <kendo-label>Modal Dasar (Sesuai Akta)</kendo-label>
          </div>
          <div class="col-9 content-field">
            <kendo-formfield [formGroup]="formKeuangan">              
              <kendo-numerictextbox class="content-input-field" id="input-keuangan-modal-dasar" formControlName="modalDasar" format="Rp\ ##,#" [maxlength]="maxLength" #modalDasar required></kendo-numerictextbox> 
              <kendo-formhint></kendo-formhint>
              <kendo-formerror>Modal Dasar tidak boleh kosong</kendo-formerror>
            </kendo-formfield>
          </div>
        </div>

        <div class="row bank-field">
          <div class="col-3 content-label">
            <kendo-label>Modal Ditempatkan (Sesuai Akta)</kendo-label>
          </div>
          <div class="col-9 content-field">
            <kendo-formfield [formGroup]="formKeuangan">
              <kendo-numerictextbox class="content-input-field" id="input-keuangan-modal-ditempatkan" formControlName="modalDitempatkan" format="Rp\ ##,#" [maxlength]="maxLength" #modalDitempatkan required></kendo-numerictextbox>               
              <kendo-formhint></kendo-formhint>
              <kendo-formerror>Modal Ditempatkan tidak boleh kosong</kendo-formerror>
            </kendo-formfield>
          </div>
        </div>
        
      </div>

      <div class="k-actions k-actions-center">
        <div class="col-2 profile-content-grid-button">
          <button kendoButton class="vms-btn vms-btn-primary" id="btn-simpan-profile-keuangan" (click)="postDataKeuangan()">
            Simpan
          </button>
        </div>
      </div>

    </div>

  </div>
</div>

<div kendoDialogContainer></div>

<app-popup-message [title]="popUpTitle" [message]="popUpMessage" [yesButton]="true"></app-popup-message>
