<div class="profile-section">

  <div class="col-2 profile-menu">
    <app-sidebar></app-sidebar>
  </div>
  

  <div class="profile-content">
    <kendo-label>Laporan Keuangan</kendo-label>
    <br><br>
    <div>
      <kendo-label>Bank</kendo-label>
      <br>
      <div>
        <kendo-label>Nama Bank</kendo-label>
        <kendo-textbox placeholder="Type your message here" [clearButton]="true"></kendo-textbox>
      </div>
      <div>
        <kendo-label>Cabang</kendo-label>
        <kendo-textbox placeholder="Type your message here" [clearButton]="true"></kendo-textbox>
      </div>
      <div>
        <kendo-label>Nomor Rekening</kendo-label>
        <kendo-textbox placeholder="Type your message here" [clearButton]="true"></kendo-textbox>
      </div>
      <div>
        <kendo-label>Nama Pemilik Rekening</kendo-label>
        <kendo-textbox placeholder="Type your message here" [clearButton]="true"></kendo-textbox>
      </div>
    </div>
    <br>
    <div>
      <kendo-label>Neraca Keuangan</kendo-label>
      <br>
      <kendo-grid>
        <kendo-grid-column field="no" title="Tahun">
        </kendo-grid-column>
        <kendo-grid-column field="shareholder_name" title="Aktiva (Asset)">
        </kendo-grid-column>
        <kendo-grid-column field="shareholder_type" title="Passiva (Liability)">
        </kendo-grid-column>
        <kendo-grid-column field="is_domestic_shareholder" title="Ekuitas (Equity)">
        </kendo-grid-column>
        <kendo-grid-column field="is_domestic_shareholder" title="Omzet Bersih">
        </kendo-grid-column>
        <kendo-grid-column field="action" title="Action">
        </kendo-grid-column>
      </kendo-grid>
      <br>
      <button id="addPekerjaan" kendoButton *ngIf="!openedSaham" (click)="openSaham()" icon="k-icon k-i-plus-outline" class="vms-btn-primary button-right">
        Tambah Neraca
      </button>

      <kendo-dialog title="Tambah Neraca" *ngIf="openedSaham" (close)="closeSaham()">
        <div>
          <div>
            <kendo-label>Tahun</kendo-label>
            <kendo-textbox placeholder="Type your message here" [clearButton]="true"></kendo-textbox>
          </div>
          <div>
            <kendo-label>Aktiva (Asset)</kendo-label>
            <kendo-textbox placeholder="Type your message here" [clearButton]="true"></kendo-textbox>
          </div>
          <div>
            <kendo-label>Passiva (Liability)</kendo-label>
            <kendo-textbox placeholder="Type your message here" [clearButton]="true"></kendo-textbox>
          </div>
          <div>
            <kendo-label>Ekuitas (Equity)</kendo-label>
            <kendo-textbox placeholder="Type your message here" [clearButton]="true"></kendo-textbox>
          </div>
          <div>
            <kendo-label>Omzet Bersih</kendo-label>
            <kendo-textbox placeholder="Type your message here" [clearButton]="true"></kendo-textbox>
          </div>
        </div>

        <kendo-dialog-actions>
          <button kendoButton (click)="closeSaham()" [primary]="true">
            Simpan
          </button>
          <button kendoButton (click)="closeSaham()" [primary]="false">
            Batal
          </button>
        </kendo-dialog-actions>
      </kendo-dialog>
    </div>
    <br>
    <div>
      <kendo-label>SPT Tahunan</kendo-label>
      <br>
      <kendo-grid>
        <kendo-grid-column field="no" title="Tahun">
        </kendo-grid-column>
        <kendo-grid-column field="shareholder_name" title="Nomor">
        </kendo-grid-column>
        <kendo-grid-column field="shareholder_type" title="Lampiran">
        </kendo-grid-column>
        <kendo-grid-column field="is_domestic_shareholder" title="Waktu Upload">
        </kendo-grid-column>
        <kendo-grid-column field="action" title="Action">
        </kendo-grid-column>
      </kendo-grid>
      <br>
      <button id="addPekerjaan" kendoButton *ngIf="!openedSaham" (click)="openSaham()" icon="k-icon k-i-plus-outline" class="vms-btn-primary button-right">
        Tambah SPT Tahunan
      </button>

      <kendo-dialog title="Tambah SPT Tahunan" *ngIf="openedSaham" (close)="closeSaham()">
        <div>
          <div>
            <kendo-label>Tahun</kendo-label>
            <kendo-textbox placeholder="Type your message here" [clearButton]="true"></kendo-textbox>
          </div>
          <div>
            <kendo-label>Nomor Dokumen</kendo-label>
            <kendo-textbox placeholder="Type your message here" [clearButton]="true"></kendo-textbox>
          </div>
          <div>
            <kendo-label>Lampiran</kendo-label>
            <kendo-fileselect [title]="'Pilih File'"></kendo-fileselect>
          </div>
        </div>

        <kendo-dialog-actions>
          <button kendoButton (click)="closeSaham()" [primary]="true">
            Simpan
          </button>
          <button kendoButton (click)="closeSaham()" [primary]="false">
            Batal
          </button>
        </kendo-dialog-actions>
      </kendo-dialog>
    </div>
    <br>
    <div>
      <kendo-label>Modal</kendo-label>
      <br>
      <div>
        <kendo-label>Modal Dasar (Sesuai Akta)</kendo-label>
        <kendo-textbox placeholder="Type your message here" [clearButton]="true"></kendo-textbox>
      </div>
      <div>
        <kendo-label>Modal Ditempatkan (Sesuai Akta)</kendo-label>
        <kendo-textbox placeholder="Type your message here" [clearButton]="true"></kendo-textbox>
      </div>
    </div>
    <br>
    <div><button kendoButton look="outline">Simpan</button></div>
  </div>
</div>
