.profile-verifikasi-field {
  border-radius: 10px;
  border-style: solid;
  border-color: #d8d8d8;
  padding: 1em 1em 1em 1em;
  margin: 0em 0em 2em 0em;
}

.verifikasi-field {
  margin-bottom: 1em;
}

.verifikasi-label{
  font-size: 16px;
  /* font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px; */
}

.verifikasi-checkbox {
  margin-right: 1em;
}