.profile-section {
  border-style: groove;
}

.profile-menu {
  border-style: groove;
  float: left;
}

.profile-content {
  border-style: groove;
  float: right;
}

.checklist {
  border-style: groove;
}

.verification-checklist {
  border-style: groove;
}
