<div class="row profile-section">

  <div class="col-2 profile-menu">
    <app-sidebar></app-sidebar>
  </div>
  
  <div class="col-10 profile-content-container">

    <div class="profile-content">

      <div class="profile-content-title">
        <kendo-label>Pengajuan Verifikasi</kendo-label>
      </div>

      <div class="profile-verifikasi-field">
        <form>

          <div class="row verifikasi-field">
            <div class="col-3">
              <kendo-label class="verifikasi-label">{{labelVerifikasi.informasiUmum}}</kendo-label>
            </div>
            <div class="col-9">
              <input class="verifikasi-checkbox" type="checkbox" disabled [checked]="data.informasiUmum.status" #informasiUmum kendoCheckBox/>
              <label for="informasiUmum">{{data.informasiUmum.text}} {{data.informasiUmum.status ? "on " + now : ""}}</label>
            </div>
          </div>

          <div class="row verifikasi-field">
            <div class="col-3">
              <kendo-label class="verifikasi-label">{{labelVerifikasi.tataKelolaPerusahaan}}</kendo-label>
            </div>
            <div class="col-9">
              <input class="verifikasi-checkbox" type="checkbox" disabled [checked]="data.tataKelolaPerusahaan.status" #tataKelolaPerusahaan kendoCheckBox/>
              <label for="tataKelolaPerusahaan">{{data.tataKelolaPerusahaan.text}} {{data.tataKelolaPerusahaan.status ? "on " + now : ""}}</label>
            </div>
          </div>

          <div class="row verifikasi-field">
            <div class="col-3">
              <kendo-label class="verifikasi-label">{{labelVerifikasi.aspekFinansial}}</kendo-label>
            </div>
            <div class="col-9">
              <input class="verifikasi-checkbox" type="checkbox" disabled [checked]="data.aspekFinansial.status" #aspekFinansial kendoCheckBox/>
              <label for="aspekFinansial">{{data.aspekFinansial.text}} {{data.aspekFinansial.status ? "on " + now : ""}}</label>
            </div>
          </div>

          <div class="row verifikasi-field">
            <div class="col-3">
              <kendo-label class="verifikasi-label">{{labelVerifikasi.aspekLegal}}</kendo-label>
            </div>
            <div class="col-9">
              <input class="verifikasi-checkbox" type="checkbox" disabled [checked]="data.aspekLegal.status" #aspekLegal kendoCheckBox/>
              <label for="aspekLegal">{{data.aspekLegal.text}} {{data.aspekLegal.status ? "on " + now : ""}}</label>
            </div>
          </div>

          <div class="row verifikasi-field">
            <div class="col-3">
              <kendo-label class="verifikasi-label">{{labelVerifikasi.riwayatPekerjaan}}</kendo-label>
            </div>
            <div class="col-9">
              <input class="verifikasi-checkbox" type="checkbox" disabled [checked]="data.riwayatPekerjaan.status" #riwayatPekerjaan kendoCheckBox/>
              <label for="riwayatPekerjaan">{{data.riwayatPekerjaan.text}} {{data.riwayatPekerjaan.status ? "on " + now : ""}}</label>
            </div>
          </div>

        </form>
      </div>

      <div class="k-actions k-actions-end">
        <div class="col-3 profile-content-grid-button">
          <button kendoButton class="vms-btn vms-btn-primary" id="btn-submit-verification" (click)="verify()" *ngIf="isUnverified">
            Ajukan Verifikasi
          </button>
          <button kendoButton class="vms-btn vms-btn-primary" id="btn-cancel-verification" (click)="cancelConfirmation()" *ngIf="isVerifying">
            Batalkan Pengajuan
          </button>
          <div class="verifikasi-label-container">
            <kendo-label class="verifikasi-label" *ngIf="isVerified">{{verificationStatus}}</kendo-label>
          </div>
        </div>
      </div>

    </div>
  </div>
  
</div>

<app-popup-message [title]="popUpTitle" [message]="popUpMessage" [yesButton]="true" [redirectOnClose]="redirectOnClosePopUp" [redirectUrl]="'/profile-verification'"></app-popup-message>

<div kendoDialogContainer></div>