<div class="profile-section">

  <div class="col-2 profile-menu">
    <app-sidebar></app-sidebar>
  </div>
  

  <div class="profile-content">
    <kendo-label>Verifikasi Kelengkapan</kendo-label>
    <br><br>
    <div class="verification-checklist">
      <div class="checklist">
        <kendo-label>Profil Perusahaan</kendo-label>
        <input type="checkbox" #notification kendoCheckBox/>
        <kendo-label
          class="k-checkbox-label"
          [for]="notification"
          text="Completed"
        ></kendo-label>
      </div>

      <div class="checklist">
        <kendo-label>PIC Perusahaan</kendo-label>
        <input type="checkbox" #notification kendoCheckBox/>
        <kendo-label
          class="k-checkbox-label"
          [for]="notification"
          text="Completed"
        ></kendo-label>
      </div>

      <div class="checklist">
        <kendo-label>Dokumen</kendo-label>
        <input type="checkbox" #notification kendoCheckBox/>
        <kendo-label
          class="k-checkbox-label"
          [for]="notification"
          text="Completed"
        ></kendo-label>
      </div>

      <div class="checklist">
        <kendo-label>Alamat</kendo-label>
        <input type="checkbox" #notification kendoCheckBox/>
        <kendo-label
          class="k-checkbox-label"
          [for]="notification"
          text="Completed"
        ></kendo-label>
      </div>

      <div class="checklist">
        <kendo-label>Laporan Keuangan</kendo-label>
        <input type="checkbox" #notification kendoCheckBox/>
        <kendo-label
          class="k-checkbox-label"
          [for]="notification"
          text="Completed"
        ></kendo-label>
      </div>

      <div class="checklist">
        <kendo-label>Riwayat Pekerjaan</kendo-label>
        <input type="checkbox" #notification kendoCheckBox/>
        <kendo-label
          class="k-checkbox-label"
          [for]="notification"
          text="Completed"
        ></kendo-label>
      </div>

      <div class="checklist">
        <kendo-label>Asset</kendo-label>
        <input type="checkbox" #notification kendoCheckBox/>
        <kendo-label
          class="k-checkbox-label"
          [for]="notification"
          text="Completed"
        ></kendo-label>
      </div>
    
      <div class="checklist">
        <kendo-label>Disclaimer</kendo-label>
        <br><br>
        <input type="checkbox" #notification kendoCheckBox/>
        <kendo-label
          class="k-checkbox-label"
          [for]="notification"
          text="Dengan ini kami menyatakan bahwa informasi yang dikirim adalah BENAR"
        ></kendo-label>
      </div>
    </div>
    <br>
    <button kendoButton icon="k-icon k-i-plus-outline" class="vms-btn-primary button-right">
      Rekam Data
    </button>
  </div>
</div>
