.landing-carousel {
    width: 100%;
    min-height: 350px;
    /* background-image: url("/assets/images/carousel-bg.jpg"); */
    background: linear-gradient(262.6deg, #0F2459 0%, #0092AC 100%);
    background-size: cover;
    text-align: center;
    display: grid;
    color: white;
    margin-top: 150px;
}

.content {
    width: 100% !important;
}

.landing-carousel-content {
    align-self: center;
    padding: 0 17%;
}

.landing-carousel-content > h3 {
    margin-bottom: 1em;
    font-weight: bold;
}

.landing-carousel h3,p{
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.landing-carousel p {
    max-width: 45%;
}

.landing-carousel-link-button {
    display: inline-block;
    line-height: 5em;
    width: 150px;

    margin-left: 10px;
    margin-right: 10px;
}