<div class="landing-carousel">
    <div class="landing-carousel-content">
        <h3>Procurement Excellent BUMN</h3>
        <br>
        <p>
            Solusi untuk digitalisasi proses BUMN, efisiensi, pemberdayaan UMKM dan optimalisasi TKDN
        </p>
        <br>
        <div class="landing-carousel-links">
            <div class="k-form-buttons landing-carousel-link-button" *ngIf="!isLoggedIn">
                <button class="k-button k-primary vms-btn vms-btn-primary" routerLink="login">Masuk</button>
            </div>
            <div class="k-form-buttons landing-carousel-link-button" *ngIf="!isLoggedIn">
                <button class="k-button k-primary vms-btn vms-btn-primary" routerLink="register">Daftar</button>
            </div>
        </div>
    </div>
</div>