<div class="landing-carousel">
    <div class="landing-carousel-content">
        <h3>Procurement Excellence BUMN</h3>
        <br>
        <p>Portal Informasi Tender BUMN</p>
        <br>
        <div class="landing-carousel-links">
            <div class="k-form-buttons landing-carousel-link-button" *ngIf="!isLoggedIn">
                <button class="k-button k-primary vms-btn vms-btn-primary" routerLink="login" id="btn-login">Masuk</button>
            </div>
            <div class="k-form-buttons landing-carousel-link-button" *ngIf="!isLoggedIn">
                <button class="k-button k-primary vms-btn vms-btn-primary" routerLink="register" id="btn-register">Daftar</button>
            </div>
        </div>
    </div>
</div>