<div class="auth-section">
    <form class="k-form auth-form" [formGroup]="form">

        <label class="reset-password-text">
            Silahkan Definisikan Password Baru Anda
        </label>

        <fieldset class="k-form-fieldset">

            <kendo-formfield>
                <kendo-label [for]="newPassword" text="{{labelName.newPassword}}"> </kendo-label>
                <kendo-textbox formControlName="newPassword" #newPassword [clearButton]="true" id="input-new-password">
                    <ng-template kendoTextBoxSuffixTemplate>
                        <button #new kendoButton look="clear" icon="eye" (click)="toggleVisibility('newPass')"></button>
                    </ng-template>
                </kendo-textbox>
                <kendo-formhint></kendo-formhint>
                <kendo-formerror *ngIf="form.controls.newPassword.errors?.required">
                    {{dict.warning.empty_new_password}}
                </kendo-formerror>
            </kendo-formfield>

            <kendo-formfield>
                <kendo-label [for]="retypePassword" text="{{labelName.repeatNewPassword}}"> </kendo-label>
                <kendo-textbox formControlName="retypePassword" #retypePassword [clearButton]="true" id="input-retype-password">
                    <ng-template kendoTextBoxSuffixTemplate>
                        <button #retype kendoButton look="clear" icon="eye" (click)="toggleVisibility('retypePass')"></button>
                    </ng-template>
                </kendo-textbox>
                <kendo-formhint></kendo-formhint>
                <kendo-formerror *ngIf="form.controls.retypePassword.errors?.required">
                    {{dict.warning.empty_new_repeat_password}}
                </kendo-formerror>
                <kendo-formerror *ngIf="form.controls.retypePassword.errors?.mustMatch">
                    {{dict.warning.password_not_match}}
                </kendo-formerror>
            </kendo-formfield>

            <div class="k-form-buttons">
                <button class="k-button k-primary vms-btn" (click)="onSubmit()" id="btn-reset-password">Atur Ulang Kata Sandi</button>
            </div>

        </fieldset>

    </form>
</div>

<app-popup-message [title]="popUpTitle" [message]="popUpMessage" [yesButton]="true" [redirectOnClose]="redirectOnClosePopUp" [redirectUrl]="'/'"></app-popup-message>
