<div class="auth-section">
    <form class="k-form auth-form" [formGroup]="form">

        <label class="reset-password-text">
            Silahkan Definisikan Password Baru Anda
        </label>

        <fieldset class="k-form-fieldset">
            
            <kendo-formfield>
                <kendo-label [for]="newPassword" text="Password Baru"> </kendo-label>
                <kendo-textbox formControlName="newPassword" #newPassword [clearButton]="true">
                    <ng-template kendoTextBoxSuffixTemplate>
                        <button #new kendoButton look="clear" icon="eye" (click)="toggleVisibility('newPass')"></button>
                    </ng-template>
                </kendo-textbox>
                <kendo-formhint></kendo-formhint>
                <kendo-formerror *ngIf="form.controls.newPassword.errors?.required">
                    Password Baru tidak boleh kosong
                </kendo-formerror>
            </kendo-formfield>

            <kendo-formfield>
                <kendo-label [for]="retypePassword" text="Ulangi Password Baru"> </kendo-label>
                <kendo-textbox formControlName="retypePassword" #retypePassword [clearButton]="true">
                    <ng-template kendoTextBoxSuffixTemplate>
                        <button #retype kendoButton look="clear" icon="eye" (click)="toggleVisibility('retypePass')"></button>
                    </ng-template>
                </kendo-textbox>
                <kendo-formhint></kendo-formhint>
                <kendo-formerror *ngIf="form.controls.retypePassword.errors?.required">
                    Password Baru tidak boleh kosong
                </kendo-formerror>
                <kendo-formerror *ngIf="form.controls.retypePassword.errors?.mustMatch">
                    Password tidak sama
                </kendo-formerror>
            </kendo-formfield>
            
            <div class="k-form-buttons">
                <button class="k-button k-primary vms-btn" (click)="onSubmit()">Login</button>
                <!-- <button class="k-button" (click)="clearForm()">Clear</button> -->
            </div>
            
        </fieldset>

    </form>
</div>

<!-- <app-popup-message [title]="popUpTitle" [message]="popUpMessage" [yesButton]="true" [redirectOnClose]="redirectOnClosePopUp" [redirectUrl]="'/'"></app-popup-message> -->