<div>
  <div>
    <div>
      <div id="attention" *ngIf="!isDisabled">
        <p id="verification-attention">Perhatian :<br>Perubahan yang Anda lakukan belum aktif hingga diverifikasi oleh
          VMS Verificator. Pastikan
          perubahan data perusahaan Anda sudah benar.</p>
      </div>
      <form id="form-pic" class="k-form auth-form">
        <fieldset id="fieldset-pic" class="k-form-fieldset">
          <div>
          <div class="row bank-field">
            <div class="col-3 content-label">
              <kendo-label id="label-name" class="col-12">Nama Penanggung Jawab</kendo-label>
            </div>
            <div class="col-9 content-field">
              <kendo-formfield class="mt-0" id="formfield-name" [formGroup]="formPIC">
                <kendo-textbox id="input-name" class="col-md" formControlName="name" placeholder="Nama Anda"
                               [clearButton]="true"
                               #name
                               required
                               [readonly]=isDisabled
                               [value]=responseName
                               [minlength]="3"
                               [maxlength]="50"
                               (keypress)="keyPressAlphaSymbol($event)">
                </kendo-textbox>
                <kendo-formerror id="error-name-less-than-3-characters" *ngIf="formPIC.controls.name.errors?.minlength">
                  Nama tidak boleh kurang dari 3 karakter
                </kendo-formerror>
                <kendo-formerror id="error-name-greater-than-50-characters"
                                 *ngIf="formPIC.controls.name.errors?.maxlength">Nama tidak boleh lebih dari 50 karakter
                </kendo-formerror>
                <kendo-formerror id="error-name-required" *ngIf="formPIC.controls.name.errors?.required">Nama tidak
                  boleh kosong
                </kendo-formerror>
              </kendo-formfield>
            </div>
          </div>

          <div class="row bank-field">
            <div class="col-3 content-label">
              <kendo-label id="label-email" class="col-12">Email Penanggung Jawab</kendo-label>
            </div>
            <div class="col-9 content-field">
              <kendo-formfield class="mt-0" id="formfield-email" [formGroup]="formPIC">
                <kendo-textbox id="input-email" class="col-md" formControlName="email"
                               #email
                               [value]="responseEmail"
                               [readonly]=true
                >
                </kendo-textbox>
              </kendo-formfield>
            </div>
          </div>

          <div class="row bank-field">
            <div class="col-3 content-label">
              <kendo-label id="label-phone-number" class="col-12">No. Handphone</kendo-label>
            </div>
            <div class="col-9 content-field">
              <kendo-formfield class="mt-0" id="formfield-phone-number" [formGroup]="formPIC">
                <kendo-textbox id="input-phone-number" class="col-md" formControlName="phoneNumber"
                               placeholder="No. Handphone Anda"
                               [clearButton]="true"
                               #phoneNumber
                               required
                               [readonly]=isDisabled
                               [value]=responsePhoneNumber
                               [minlength]="7"
                               [maxlength]="20"
                               (keypress)="keyPressNumbers($event)">
                </kendo-textbox>
                <kendo-formerror id="error-phone-number-less-than-7-digits"
                                 *ngIf="formPIC.controls.phoneNumber.errors?.minlength">No. Handphone tidak boleh kurang
                  dari 7
                  digit
                </kendo-formerror>
                <kendo-formerror id="error-phone-number-greater-than-20-digits"
                                 *ngIf="formPIC.controls.phoneNumber.errors?.maxlength">No. Handphone tidak boleh lebih
                  dari 20
                  digit
                </kendo-formerror>
                <kendo-formerror id="error-phone-number-required" *ngIf="formPIC.controls.phoneNumber.errors?.required">
                  No. Handphone tidak boleh kosong
                </kendo-formerror>
              </kendo-formfield>
            </div>
          </div>
          </div>
          

        </fieldset>
      </form>
      <div class="pt-5 pb-5">
        <ng-container
          *ngIf="isDisabled; then showUpdateButton; else showSaveButton">
        </ng-container>

        <ng-template #showUpdateButton>
          <div class="k-form-buttons k-float-right pe-0">
            <button id="btn-perbarui" class="k-button k-primary vms-btn" (click)="perbaruiClicked()"
                    *ngIf="isDisabled" [disabled]="disabledWhenError">Perbarui
            </button>
          </div>
        </ng-template>
        <ng-template #showSaveButton>
          <div class="k-form-buttons k-float-right pe-0">
            <button id="btn-simpan" class="k-button k-primary vms-btn" (click)="open()" *ngIf="!isDisabled">Simpan
            </button>
          </div>
        </ng-template>

        <kendo-dialog id="popup-confirm-save"
                      title="Konfirmasi"
                      *ngIf="opened"
                      (close)="close('cancel')"
                      [minWidth]="250"
                      [width]="450">
          <p style="margin: 30px; text-align: center;">
            Simpan perubahan data PIC Perusahaan?
          </p>
          <kendo-dialog-actions id="popup-action-confirm-save">
            <button kendoButton id="btn-popup-no" (click)="close('no')">Tidak</button>
            <button kendoButton id="btn-popup-yes" (click)="save(); close('yes')" [primary]="true">Ya</button>
          </kendo-dialog-actions>
        </kendo-dialog>
      </div>
    </div>
  </div>
</div>