<div class="login-section">
    <form class="k-form login-form" [formGroup]="formSetPassword">

        <div class="set-password-form-title">
            <label class="welcome-text">Silakan Definisikan Password Anda</label> <br>
        </div>

        <fieldset class="k-form-fieldset">
            
            <kendo-formfield>
                <kendo-label [for]="password" text="Kata Sandi"> </kendo-label>
                <kendo-textbox formControlName="password" #password required [clearButton]="false">
                    <ng-template kendoTextBoxSuffixTemplate>
                        <button kendoButton look="clear" icon="eye" (click)="toggleVisibility()"></button>
                    </ng-template>
                </kendo-textbox>
                <kendo-formhint></kendo-formhint>
                <kendo-formerror>Kata Sandi tidak boleh kosong</kendo-formerror>
            </kendo-formfield>

            <kendo-formfield>
                <kendo-label [for]="confirmPassword" text="Ulangi Kata Sandi"> </kendo-label>
                <kendo-textbox formControlName="confirmPassword" #confirmPassword required [clearButton]="false">
                    <ng-template kendoTextBoxSuffixTemplate>
                        <button kendoButton look="clear" icon="eye" (click)="toggleVisibility()"></button>
                    </ng-template>
                </kendo-textbox>
                <kendo-formhint></kendo-formhint>
                <kendo-formerror *ngIf="formSetPassword.controls.confirmPassword.errors?.mustMatch">Maaf, password anda tidak sesuai. Silahkan ulangi input password!.</kendo-formerror>
            </kendo-formfield>
            
            <div class="k-form-buttons">
                <button class="k-button k-primary vms-btn" (click)="activate()">Simpan Kata Sandi</button>
            </div>
            
        </fieldset>
    </form>
</div>

<app-popup-message [title]="popUpTitle" [message]="popUpMessage" [yesButton]="true" [redirectOnClose]="redirectOnClosePopUp" [redirectUrl]="'/login'"></app-popup-message>