/* .profile-section {
  border-style: groove;
} */

/* .profile-menu {
  border-style: groove;
  float: left;
} */


/* 
.profile-content {
  border-style: groove;
  float: right;
} */

.profile-menu {
  float: left;
  height: 100vh;
}

.profile-content {
  padding: 40px;
  display: table;
}

.button-right {
  float: right;
}

.modal-label {
  line-height: 70px;
}