<div class="profile-section">
  <div class="profile-menu">
    <app-profile-menu></app-profile-menu>
  </div>
  <div class="profile-content">

    <kendo-label>Riwayat Pekerjaan</kendo-label>
    <br><br>

    <div>
      <kendo-grid>
        <kendo-grid-column field="no" title="No.">
        </kendo-grid-column>
        <kendo-grid-column field="shareholder_name" title="Nama Pekerjaan">
        </kendo-grid-column>
        <kendo-grid-column field="shareholder_type" title="Pemberi Pekerjaan">
        </kendo-grid-column>
        <kendo-grid-column field="is_domestic_shareholder" title="Nilai Pekerjaan">
        </kendo-grid-column>
        <kendo-grid-column field="is_domestic_shareholder" title="Tahun">
        </kendo-grid-column>
        <kendo-grid-column field="is_domestic_shareholder" title="Lampiran">
        </kendo-grid-column>
        <kendo-grid-column field="action" title="Action">
        </kendo-grid-column>
      </kendo-grid>
      <br>
      <button kendoButton *ngIf="!openedSaham" (click)="openSaham()" icon="k-icon k-i-plus-outline">
        Tambah Riwayat Pekerjaan
      </button>

      <kendo-dialog title="Tambah Riwayat Pekerjaan" *ngIf="openedSaham" (close)="closeSaham()">
        <div>
          <form class="k-form login-form" [formGroup]="pekerjaanForm">
          <kendo-formfield>
            <kendo-label [for]="namaPekerjaan">Nama Pekerjaan</kendo-label>
            <kendo-textbox formControlName="namaPekerjaan" #namaPekerjaan placeholder="Type your message here" [clearButton]="true"></kendo-textbox>
          </kendo-formfield>
          <kendo-formfield>
            <kendo-label [for]="pemberiPekerjaan">Pemberi Pekerjaan</kendo-label>
            <kendo-textbox formControlName="pemberiPekerjaan" #pemberiPekerjaan  placeholder="Type your message here" [clearButton]="true"></kendo-textbox>
          </kendo-formfield>
          <kendo-formfield>
            <kendo-label [for]="nilaiPekerjaan">Nilai Pekerjaan</kendo-label>
            <kendo-textbox formControlName="nilaiPekerjaan" #nilaiPekerjaan  placeholder="Type your message here" [clearButton]="true"></kendo-textbox>
          </kendo-formfield>
          <kendo-formfield>
            <kendo-label [for]="tahunPekerjaan">Tahun</kendo-label>
            <kendo-textbox formControlName="tahunPekerjaan" #tahunPekerjaan  placeholder="Type your message here" [clearButton]="true"></kendo-textbox>
          </kendo-formfield>
          <kendo-formfield>
            <kendo-label [for]="buktiPekerjaanFilePath">Lampiran</kendo-label>
            <kendo-fileselect  formControlName="buktiPekerjaanFilePath" #buktiPekerjaanFilePath [title]="'Pilih File'"></kendo-fileselect>
          </kendo-formfield>
        </form>
        </div>

        <kendo-dialog-actions>
          <button kendoButton (click)="submit()" [primary]="true">
            Simpan
          </button>
          <button kendoButton (click)="closeSaham()" [primary]="false">
            Batal
          </button>
        </kendo-dialog-actions>
      </kendo-dialog>
    </div>

  </div>
</div>
