.demo {
  display: flex;
  /* justify-content: center; */
  margin: 2em;
  padding: 0px 200px;
}
.k-listview {
  font-family: sans-serif;
  margin: auto;
  /* width: 400px; */
  /* display: inline-block; */
}
.k-listview-item {
  display: inline-block;
  width: 43%;
  padding: 10px 10px;
  border-style: solid;
  border-color: #dee2e6;
  border-width: 3px;
  margin: 20px 40px;
  border-radius: 8px;
}

.header, .footer {
  color: #A0A0A0;
  font-size: 16px;
  padding: 6px 10px;
}
.footer {
  font-size: 14px;
}

.k-hstack {
  /* height: 100px; */
}


.k-hstack-body {
  /* height: 210px; */
}

.middle {
  display: inline-block;
  width: 100%;
}

.mid {
  display: inline-block;
  padding: 10px 10px 10px 0px;
  margin-right: 50px;
}

.top {
  justify-content: space-between;
}

.k-card-titles{

/* Body/Body 2 - Bold */

/* font-family: Roboto; */
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 40px;
/* identical to box height, or 143% */

letter-spacing: 0.25px;
margin: 0px 20px;
color: #000000;
vertical-align: middle;
}

.k-card-body{
  /* margin: 10px 50px; */
}
.status{
/* font-family: Roboto; */
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 40px;
vertical-align: middle;
}

.avatar {
  width: 150px;
  height: 100px;
}

.top-avatar {
  display: inherit;
}

.tender-title {
  /* Body/Body 2 */

/* font-family: Roboto; */
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 20px;
/* identical to box height, or 143% */
padding: 0px 10px 10px 0px;
letter-spacing: 0.25px;
}

.icon{
  margin-right: 10px;
}

.k-listview {
  border: none !important;
}