.k-listview {
  /* font-family: sans-serif; */
  margin: auto;
  /* width: 400px; */
}
.k-listview-item {
  display: inline-block;
  /* width: 43%; */
  border-style: solid;
  border-color: #dee2e6;
  border-width: 3px;
  margin: 1em 2rem;
  border-radius: 8px;
  text-align: justify;
}

.k-listview-content {
  padding: 20px 0;
  justify-content: center !important;
  border-color: #EBEBEB !important;
}

.k-listview-item:hover {
  display: inline-block;
  /* width: 43%; */
  border-style: solid;
  border-color: rgba(0,0,0,0.75);
  border-width: 3px;
  margin: 20px 40px;
  border-radius: 8px;
}

.k-pager-numbers .k-link.k-state-selected {
  background-color: #0092AC !important;
  color: white !important;
}

.k-pager-wrap {
  border-style: none;
  background-color: white;
}

.header, .footer {
  color: #EBEBEB;
  font-size: 16px;
  padding: 6px 10px;
}
.footer {
  font-size: 14px;
}

.middle {
  display: inline-block;
  width: 100%;
}

.mid {
  display: inline-block;
  padding: 10px 10px 10px 0px;
  margin-right: 50px;
}

.top {
  justify-content: space-between;
}

.k-card-titles{
  
  /* Body/Body 2 - Bold */
  
  /* font-family: Roboto; */
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 40px;
  /* identical to box height, or 143% */
  
  letter-spacing: 0.25px;
  margin: 0px 20px;
  color: #000000;
  vertical-align: middle;
}

.status{
  /* font-family: Roboto; */
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 40px;
  vertical-align: middle;
}

.k-listview {
  border: none !important;
}

@media only screen and (min-width: 1080px) {
  /* For desktop: */
  .k-listview-item {
    width: 40%;
    border-style: solid;
    border-color: #dee2e6;
    border-width: 3px;
    margin: 1em 2rem;
    border-radius: 8px;
  }
}

/* G */
.filter {
  min-height: 100px;
  padding: 1em;
  margin-bottom: 1em;

  border-radius: 10px;
  border-style: solid;
  border-color: #EBEBEB;
}

.filter-category > kendo-dropdownlist, .filter-created-at > kendo-dropdownlist {
  width: 50% !important;
}

.btn-toggle-filter, .btn-toggle-filter:focus {
  background-color: unset !important;
  border-color:  unset !important;
  border-style: unset !important;
  margin-left: 0.5em;
}

.filter > p {
  text-align: center;

  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.15px;
}

.hidden-filter {
  min-height: 200px;
  padding: 1em;

  border-radius: 10px;
  border-style: solid;
  border-color: #EBEBEB;
}

.hidden-filter-content {
  margin-bottom: 1em !important;
}

#input-filter-keyword, #input-filter-status {
  width: 60%;
}

#input-register-begin, #input-register-end, #input-hps-begin, #input-hps-end {
  width: 200px;
}

#input-hps-begin, #input-register-begin {
  margin-right: 1em !important;
}