<div class="auth-section">
    <form class="k-form auth-form" [formGroup]="form">

        <label class="forgot-password-caption">
            Masukkan alamat email terverifikasi akun Anda dan kami akan mengirimkan tautan pengaturan ulang kata sandi.
        </label>

        <fieldset class="k-form-fieldset">

            <kendo-formfield [formGroup]="form">
                <kendo-label [for]="email" text="{{labelName.alamatEmail}}" class="auth-label"></kendo-label>
                <kendo-textbox id="input-email" formControlName="email" [clearButton]="true" #email required></kendo-textbox>
                <kendo-formhint></kendo-formhint>
                <kendo-formerror class="formHint"
                    *ngIf="form.controls.email.errors?.required">
                    {{dictionary.warning.empty_email}}
                </kendo-formerror>
                <kendo-formerror class="formHint"
                    *ngIf="form.controls.email.errors?.pattern">
                    {{dictionary.invalid_email}}
                </kendo-formerror>

            </kendo-formfield>

            <div class="k-form-buttons">
                <button id="btn-reset-password" class="k-button k-primary vms-btn" (click)="sendEmail()">Reset Password</button>
            </div>

        </fieldset>

    </form>
</div>

<app-popup-message [title]="popUpTitle" [message]="popUpMessage" [yesButton]="true"></app-popup-message>
