.checklist {
  border-style: groove;
}

.verification-checklist {
  border-style: groove;
}

.k-chip {
  margin-right: 10px;
}
.k-block {
  min-height: 300px;
  padding: 20px;
}
.k-textarea {
  width: 100%;
  min-height: 145px;
}


.red {
  color: #d9534f;
}

.text-bold {
  font-weight: 600;
}

.demo {
  display: flex;
  justify-content: space-evenly;
}

.row {
  margin-bottom: 0.5rem;
}

.k-panelbar-content {
  padding: 1em;
}

/* .profile-content {
  display: flex;
  background-color: transparent!important;
} */

/* .profile-menu {
  float: left;
  height: 100vh;
} */

.profile-content-title {
  margin-bottom: 1em;
  font-weight: 600;
}

.profile-content-grid-button {
  float: right;
  margin-top: 1em;
}

.profile-content-modal-btn {
  min-width: 100px !important;
}

.profile-content-modal-btn {
  min-width: 100px !important;
}

#profile-information-panelbar > kendo-panelbar-item  .k-link ,#profile-information-panelbar > kendo-panelbar-item  .k-link.k-state-focused, #profile-information-panelbar  > kendo-panelbar-item >  .k-link.k-state-selected{
  background-color: #0193AC !important;
  border-color: #0193AC !important;
  color: white !important;
}

.k-dropdown .k-dropdown-wrap, .k-dropdowntree .k-dropdown-wrap {
  border-color: #0193AC;
  color: #212529;
  background-color: transparent;
  padding: 0;
}
