<div class="row profile-section">

  <div class="col-2 profile-menu">
    <app-sidebar></app-sidebar>
  </div>

  <div class="col-10 profile-content-container">
    <div class="profile-content">
      <kendo-card orientation="vertical" style="width: 100%;">
        <kendo-card-body class="k-vstack">
          <kendo-panelbar id="profile-information-panelbar">
            <kendo-panelbar-item title="Overview" [expanded]="true">
              <ng-template kendoPanelBarContent>
    
                <div class="row align-items-center justify-content-center k-vstack">
                  <ng-container
                    *ngIf="logoImg; then showLogo; else showDefaultLogo">
                  </ng-container>
    
                  <ng-template #showLogo>
                    <div class="row align-items-center k-justify-content-center">
                      <img class="col-3" [src]="logoImg"/>
                    </div>
                  </ng-template>
                  <ng-template #showDefaultLogo>
                    <div class="row align-items-center k-justify-content-center">
                      <img class="col-3" src="/assets/images/nologo.png" style="width: 15%; height: 15%"/>
                    </div>
                  </ng-template>
    
                  <kendo-fileselect id="imgPerusahaanUpload" class="col-md-auto mt-2" name="files" [multiple]="false"
                                    #files="ngModel" [restrictions]="imgRestrictions" [(ngModel)]="selectedFile"
                                    [ngModelOptions]="{standalone: true}" (change)="upload()"></kendo-fileselect>
                </div>
              </ng-template>
            </kendo-panelbar-item>
            <kendo-panelbar-item title="Data Perusahaan">
              <ng-template kendoPanelBarContent>
                <form>
                  <kendo-formfield [formGroup]="profileInformationFormGroup">
                    <div class="row align-items-center">
                      <kendo-label class="col-3">Nama Perusahaan</kendo-label>
                      <div class="col-md k-vstack">
                        <kendo-textbox id="namaPerusahaan" class="col-md w-100" placeholder="Nama Perusahaan" [clearButton]="true" formControlName="namaPerusahaan"></kendo-textbox>
                        <kendo-formerror class="formHint"
                                         *ngIf="profileInformationFormGroup.controls.namaPerusahaan.errors?.required">Nama Perusahaan tidak boleh kosong
                        </kendo-formerror>
                      </div>
                    </div>
                  </kendo-formfield>
                  <kendo-formfield [formGroup]="profileInformationFormGroup">
                    <div class="row align-items-center">
                      <kendo-label class="col-3">Inisial Perusahaan</kendo-label>
                      <div class="col-md k-vstack">
                        <kendo-textbox id="inisialPerusahaanInput" class="col-md w-100" placeholder="Inisial perusahaan"
                                     [clearButton]="true" [maxlength]="10" formControlName="inisialPerusahaan"></kendo-textbox>
                      </div>
                    </div>
                  </kendo-formfield>
    
                  <kendo-formfield [formGroup]="profileInformationFormGroup">
                    <div class="row align-items-center">
                      <kendo-label class="col-3">Jenis Badan Usaha</kendo-label>
                      <div class="col">
                        <ul class="k-radio-list k-list-horizontal">
                          <li class="k-radio-item">
                            <input id="ptRbtn" type="radio" #pt value="1" formControlName="jenisBadanUsaha" kendoRadioButton/>
                            <kendo-label class="k-radio-label" [for]="pt" text="PT"></kendo-label>
                          </li>
    
                          <li class="k-radio-item">
                            <input id="cvRbtn" type="radio" #cv value="2" formControlName="jenisBadanUsaha" kendoRadioButton />
                            <kendo-label class="k-radio-label" [for]="cv" text="CV"></kendo-label>
                          </li>
    
                          <li class="k-radio-item">
                            <input id="otherRbt" type="radio" #other value="3" formControlName="jenisBadanUsaha" kendoRadioButton />
                            <kendo-label class="k-radio-label" [for]="other" text="Lainnya"></kendo-label>
                          </li>
                        </ul>
                        <kendo-formerror class="formHint"
                                         *ngIf="profileInformationFormGroup.controls.jenisBadanUsaha.errors?.required">Jenis Badan Usaha tidak boleh kosong
                        </kendo-formerror>
                      </div>
                    </div>
                  </kendo-formfield>
    
                  <kendo-formfield [formGroup]="profileInformationFormGroup">
                    <div class="row align-items-center">
                      <kendo-label class="col-3">Status Badan Usaha</kendo-label>
                      <div class="col">
                        <input
                          id="pkp"
                          type="radio"
                          required
                          value="true"
                          formControlName="statusBadanUsaha"
                          kendoRadioButton
                        />
                        <kendo-label class="k-radio-label"  for="pkp">PKP</kendo-label>
                        <input
                          id="nonpkp"
                          type="radio"
                          required
                          value="false"
                          formControlName="statusBadanUsaha"
                          kendoRadioButton
                        />
                        <kendo-label class="k-radio-label" for="nonpkp">Non PKP</kendo-label>
                        <kendo-formerror class="formHint" *ngIf="profileInformationFormGroup.controls.statusBadanUsaha.errors?.required">Status Badan Usaha tidak boleh kosong</kendo-formerror>
                      </div>
            
                    </div>
                  </kendo-formfield>
    
                  <kendo-formfield [formGroup]="profileInformationFormGroup">
                    <div class="row align-items-center">
                      <kendo-label class="col-3">Tipe Badan Usaha</kendo-label>
                      <div class="col-md k-vstack">
                        <kendo-dropdownlist id="tipeBadanUsaha" class="col-md w-100"
                                            [defaultItem]="{ name: 'Pilih Tipe Badan Usaha', id: null }" [data]="tipeBadanUsahaItems"
                                            textField="name" valueField="id" [(ngModel)]="selectedBadanUsaha" formControlName="tipeBadanUsaha"
                                            (valueChange)="onChangeList()" required>
                        </kendo-dropdownlist>
                        <kendo-formerror class="formHint"
                                         *ngIf="profileInformationFormGroup.controls.tipeBadanUsaha.errors?.required">Tipe Badan Usaha
                          tidak
                          boleh kosong</kendo-formerror>
                      </div>
                    </div>
                  </kendo-formfield>
    
                  <!-- <kendo-formfield [formGroup]="profileInformationFormGroup">
                    <div class="row align-items-center">
    
                      <kendo-label class="col-3">Kategori Badan Usaha</kendo-label>
                      <div class="col k-vstack">
                        <kendo-dropdownlist id="kategoriBadanUsaha" class="col-md w-100" formControlName="kategoriBadanUsaha"
                                            [data]="listItems" [defaultItem]="{ name: 'Pilih Kategori Badan Usaha', id: null }"
                                            textField="name" valueField="id" [valuePrimitive]="true" #kategoriBadanUsaha>
                        </kendo-dropdownlist>
                        <kendo-formerror class="formHint"
                                         *ngIf="profileInformationFormGroup.controls.kategoriBadanUsaha.errors?.required">Kategori Badan
                          Usaha tidak boleh kosong</kendo-formerror>
                      </div>
    
                    </div>
                  </kendo-formfield> -->

                  <kendo-formfield [formGroup]="profileInformationFormGroup">
                    <div class="row align-items-center">
                      <kendo-label class="col-3">Jenis Kegiatan Usaha Utama</kendo-label>
                      <div class="col k-vstack">
                        <kendo-dropdownlist id="jenisKegiatanUsahaUtama" class="col-md w-100"
                                            formControlName="jenisKegiatanUsahaUtama"
                                            [(ngModel)]="selectedJenisKegiatan" 
                                            [defaultItem]="{ description: 'Pilih Jenis Kegiatan Usaha Utama', id: null }"
                                            [data]="jenis_kegiatan_usaha" textField="description" valueField="id">
                        </kendo-dropdownlist>
                        <kendo-formerror class="formHint"
                                         *ngIf="profileInformationFormGroup.controls.jenisKegiatanUsahaUtama.errors?.required">Jenis Kegiatan Usaha Utama tidak boleh kosong</kendo-formerror>
                      </div>
                    </div>
                  </kendo-formfield>
    
                  <kendo-formfield [formGroup]="profileInformationFormGroup">
                    <div class="row align-items-center">
                      <kendo-label class="col-3">Jenis Penyedia Usaha</kendo-label>
                      <div class="col k-vstack">
                        <kendo-dropdownlist id="jenisPenyediaUsaha" class="col-md w-100"
                                            formControlName="jenisPenyediaUsaha"
                                            [(ngModel)]="selectedJenisPenyedia" 
                                            [defaultItem]="{ description: 'Pilih Jenis Penyedia Usaha', id: null }"
                                            [data]="jenis_penyedia_usaha" textField="description" valueField="id">
                        </kendo-dropdownlist>
                        <kendo-formerror class="formHint"
                                         *ngIf="profileInformationFormGroup.controls.jenisPenyediaUsaha.errors?.required">Jenis Penyedia
                          Usaha tidak boleh kosong</kendo-formerror>
                      </div>
                    </div>
                  </kendo-formfield>
    
                  <kendo-formfield [formGroup]="profileInformationFormGroup">
                    <div class="row align-items-center">
                      <kendo-label class="col-3">NPWP Perusahaan</kendo-label>
                      <div class="col k-vstack">
                        <kendo-textbox id="npwpPerusahaan" class="col-md w-100" placeholder="Type your message here"
                                       formControlName="npwpPerusahaan" [clearButton]="true"></kendo-textbox>
                        <kendo-formerror class="formHint"
                                         *ngIf="profileInformationFormGroup.controls.npwpPerusahaan.errors?.required">NPWP tidak boleh
                          kosong
                        </kendo-formerror>
                      </div>
                    </div>
                  </kendo-formfield>
    
                  <kendo-formfield [formGroup]="profileInformationFormGroup">
                    <div class="row align-items-center">
    
                      <kendo-label class="col-3">Nomor Induk Berusaha (NIB)</kendo-label>
                      <div class="col k-vstack">
                        <kendo-textbox id="nomorIndukBerusaha" class="col-md w-100" placeholder="Type your message here"
                                       [clearButton]="true" [maxlength]="10" formControlName="nomorIndukBerusaha"></kendo-textbox>
                        <kendo-formerror class="formHint"
                                         *ngIf="profileInformationFormGroup.controls.nomorIndukBerusaha.errors?.required">Nomor Induk
                          Berusaha tidak boleh kosong</kendo-formerror>
                      </div>
    
                    </div>
                  </kendo-formfield>
    
                  <kendo-formfield [formGroup]="profileInformationFormGroup">
                    <div class="row align-items-center">
                      <kendo-label class="col-3">Bidang Usaha (KBLI 2020)</kendo-label>
                      <div class="col k-vstack">
                        <kendo-textbox id="bidangUsaha" class="col-md w-100" placeholder="Type your message here"
                                       [clearButton]="true" [maxlength]="10" formControlName="bidangUsaha"></kendo-textbox>
                        <kendo-formerror class="formHint"
                                         *ngIf="profileInformationFormGroup.controls.bidangUsaha.errors?.required">Bidang Usaha tidak boleh
                          kosong</kendo-formerror>
                      </div>
                    </div>
                  </kendo-formfield>
                  <kendo-formfield [formGroup]="profileInformationFormGroup">
                    <div class="row align-items-center">
                      <kendo-label class="col-3">BUMN Pengampu</kendo-label>
                      <div class="col k-vstack">
                        <kendo-autocomplete id="bumnPengampu" class="col w-100" [kendoDropDownFilter]="{ operator: 'contains' }"
                                            [data]="organizations" valueField="name" [filterable]="true" placeholder="BUMN Pengampu"
                                            formControlName="bumnPengampu">
                        </kendo-autocomplete>
                        <kendo-formerror class="formHint"
                                         *ngIf="profileInformationFormGroup.controls.bumnPengampu.errors?.required">BUMN Pengampu tidak
                          boleh
                          kosong</kendo-formerror>
                      </div>
                    </div>
                  </kendo-formfield>
    
                  <kendo-formfield [formGroup]="profileInformationFormGroup">
                    <div class="row align-items-center">
                      <kendo-label class="col-3">Organisasi Himpunan</kendo-label>
                      <div class="col k-vstack">
                        <kendo-autocomplete id="organisasiHimpunan" class="col w-100"
                                          [kendoDropDownFilter]="{ operator: 'contains' }" [data]="organizations" valueField="name"
                                          [filterable]="true" placeholder="Organisasi Himpunan" formControlName="organisasiHimpunan">
                      </kendo-autocomplete>
                      </div>
                    </div>
                  </kendo-formfield>
    
                  <kendo-formfield [formGroup]="profileInformationFormGroup">
                    <div class="row align-items-center">
                      <kendo-label class="col-3">Website Perusahaan</kendo-label>
                      <div class="col k-vstack">
                        <kendo-textbox id="websitePerusahaan" class="col w-100" placeholder="Type your message here"
                                       [clearButton]="true" formControlName="websitePerusahaan"></kendo-textbox>
                        <kendo-formerror class="formHint"
                                         *ngIf="profileInformationFormGroup.controls.websitePerusahaan.errors?.required">Website Perusahaan
                          tidak boleh kosong</kendo-formerror>
                      </div>
                    </div>
                  </kendo-formfield>
    
                  <kendo-formfield [formGroup]="profileInformationFormGroup">
                    <div class="row align-items-center">
                      <kendo-label class="col-3">Jumlah Karyawan Total</kendo-label>
                      <div class="col k-vstack">
                        <kendo-numerictextbox id="jumlahKaryawanTotal" class="col w-100" placeholder="Type your message here"
                          [spinners]="false" [maxlength]="10" [decimals]="0" [min]="0" [value]="total_karyawan" [readonly]="true"
                          formControlName="jumlahKaryawanTotal" format="#">
                        </kendo-numerictextbox>
                        <kendo-formerror class="formHint"
                                         *ngIf="profileInformationFormGroup.controls.jumlahKaryawanTotal.errors?.required">Jumlah Karyawan
                          Total tidak boleh kosong</kendo-formerror>
                      </div>
                    </div>
                  </kendo-formfield>
    
                  <kendo-formfield [formGroup]="profileInformationFormGroup">
                    <div class="row align-items-center">
                      <div class="col-3"></div>
                      <kendo-label class="col-md-auto">Jumlah Karyawan Lokal</kendo-label>
                      <div class="col k-vstack">
                        <kendo-numerictextbox id="jumlahKaryawanLokal" class="col w-100" placeholder="Type your message here" [spinners]="false" [maxlength]="10" [decimals]="0" [min]=0 formControlName="jumlahKaryawanLokal" (ngModelChange)="handleKaryawanLokalChange($event)" format="#">
                        </kendo-numerictextbox>
                        <kendo-formerror class="formHint"
                                         *ngIf="profileInformationFormGroup.controls.jumlahKaryawanLokal.errors?.required">Jumlah Karyawan
                          Lokal tidak boleh kosong</kendo-formerror>
                      </div>
                    </div>
                  </kendo-formfield>
    
                  <kendo-formfield [formGroup]="profileInformationFormGroup">
                    <div class="row align-items-center">
                      <div class="col-3"></div>
                      <kendo-label class="col-md-auto">Jumlah Karyawan Asing</kendo-label>
                      <div class="col k-vstack">
                        <kendo-numerictextbox id="jumlahKaryawanAsing" class="col w-100" placeholder="Type your message here" [spinners]="false" [maxlength]="10" [decimals]="0" [min]=0 formControlName="jumlahKaryawanAsing" (ngModelChange)="handleKaryawanAsingChange($event)" format="#">
                        </kendo-numerictextbox>
                        <kendo-formerror class="formHint"
                                         *ngIf="profileInformationFormGroup.controls.jumlahKaryawanAsing.errors?.required">Jumlah Karyawan
                          Asing tidak boleh kosong</kendo-formerror>
                      </div>
                    </div>
                  </kendo-formfield>
    
                  <kendo-formfield [formGroup]="profileInformationFormGroup">
                    <div class="row align-items-center">
                      <kendo-label class="col-3">No. Telepon Perusahaan</kendo-label>
                      <div class="col k-vstack">
                        <kendo-textbox id="noTeleponPerusahaan" class="col w-100" placeholder="Type your message here"
                                       [clearButton]="true" [maxlength]="20" formControlName="noTeleponPerusahaan"></kendo-textbox>
                        <kendo-formerror class="formHint"
                                         *ngIf="profileInformationFormGroup.controls.noTeleponPerusahaan.errors?.required">Nomor Telepon
                          Perusahaan tidak boleh kosong</kendo-formerror>
                      </div>
                    </div>
                  </kendo-formfield>
    
                  <kendo-formfield [formGroup]="profileInformationFormGroup">
                    <div class="row align-items-center">
                      <kendo-label class="col-3">Alamat Perusahaan</kendo-label>
                      <div class="col k-vstack">
                        <kendo-textbox id="alamatPerusahaan" class="col w-100" placeholder="Type your message here"
                                       [clearButton]="true" [maxlength]="100" formControlName="alamatPerusahaan"></kendo-textbox>
                        <kendo-formerror class="formHint"
                                         *ngIf="profileInformationFormGroup.controls.alamatPerusahaan.errors?.required">Alamat Perusahaan
                          tidak boleh kosong</kendo-formerror>
                      </div>
                    </div>
                  </kendo-formfield>

                  <div class="row align-items-center" [formGroup]="profileInformationFormGroup">
                    <kendo-label class="col-3">Provinsi</kendo-label>
                    <kendo-dropdownlist formControlName="provinsi" id="provDropdown" class="col-md" [defaultItem]="defaultItemProvinces" [data]="provinsi" textField="description" valueField="id" [(ngModel)]="selectedProvince" (valueChange)="handleProvinceChange($event)">
                    </kendo-dropdownlist>
                  </div>

                  <div class="row align-items-center" [formGroup]="profileInformationFormGroup">
                    <kendo-label class="col-3">Kota</kendo-label>
                    <kendo-dropdownlist formControlName="kota" id="kotaDropdown" class="col-md" [defaultItem]="defaultItemKota" [data]="dataResultKota" [value]="selectedKota" textField="description" valueField="id" (valueChange)="handleKotaChange($event)">
                    </kendo-dropdownlist>
                  </div>

                  <div class="row align-items-center" [formGroup]="profileInformationFormGroup">
                    <kendo-label class="col-3">Kecamatan</kendo-label>
                    <kendo-dropdownlist formControlName="kecamatan" id="kecDropdown" class="col-md" [defaultItem]="defaultItemKecamatan" textField="description" valueField="id" [data]="dataResultKecamatan" [value]="selectedKecamatan" (valueChange)="handleKecamatanChange($event)">
                    </kendo-dropdownlist>
                  </div>

                  <div class="row align-items-center" [formGroup]="profileInformationFormGroup">
                    <kendo-label class="col-3">Kelurahan</kendo-label>
                    <kendo-dropdownlist formControlName="kelurahan" id="kelDropdown" class="col-md" [defaultItem]="defaultItemKelurahan" textField="description" valueField="id" [data]="dataResultKelurahan" [value]="selectedKelurahan" (valueChange)="handleKelurahanChange($event)">
                    </kendo-dropdownlist>
                  </div>

                  <div class="row align-items-center" [formGroup]="profileInformationFormGroup">
                    <kendo-label class="col-3">Kode Pos</kendo-label>
                    <kendo-dropdownlist formControlName="kodePos" id="kposDropdown" class="col-md" [defaultItem]="defaultItemKodepos" textField="description" valueField="id" [data]="dataResultKodepos" [value]="selectedKodepos"></kendo-dropdownlist>
                  </div>
    
                  <!-- <kendo-formfield [formGroup]="profileInformationFormGroup">
                    <div class="row align-items-center">
                      <kendo-label class="col-3">Provinsi</kendo-label>
                      <div class="col k-vstack">
                        <kendo-dropdownlist id="provinsi" class="col w-100" [defaultItem]="defaultItemProvinces"
                                            [data]="dataProvinsi" textField="provinceDescription" valueField="provinceId"
                                            (valueChange)="handleProvinceChange($event)" formControlName="provinsi">
                        </kendo-dropdownlist>
                        <kendo-formerror class="formHint"
                                         *ngIf="profileInformationFormGroup.controls.provinsi.errors?.required">Provinsi tidak boleh kosong
                        </kendo-formerror>
                      </div>
                    </div>
                  </kendo-formfield>
    
                  <kendo-formfield [formGroup]="profileInformationFormGroup">
                    <div class="row align-items-center">
                      <kendo-label class="col-3">Kota/Kabupaten</kendo-label>
                      <div class="col k-vstack">
                        <kendo-dropdownlist id="kota" class="col w-100" [defaultItem]="defaultItemKota" [data]="dataResultKota"
                                            textField="kotaDescription" valueField="kotaId" (valueChange)="handleKotaChange($event)"
                                            formControlName="kota">
                        </kendo-dropdownlist>
                        <kendo-formerror class="formHint" *ngIf="profileInformationFormGroup.controls.kota.errors?.required">
                          Kota tidak boleh kosong</kendo-formerror>
                      </div>
                    </div>
                  </kendo-formfield>
    
                  <kendo-formfield [formGroup]="profileInformationFormGroup">
                    <div class="row align-items-center">
                      <kendo-label class="col-3">Kecamatan</kendo-label>
                      <div class="col k-vstack">
                        <kendo-dropdownlist id="kecamatan" class="col w-100" [defaultItem]="defaultItemKecamatan"
                                            textField="kecamatanDescription" valueField="kecamatanId" [data]="dataResultKecamatan"
                                            (valueChange)="handleKecamatanChange($event)" formControlName="kecamatan">
                        </kendo-dropdownlist>
                        <kendo-formerror class="formHint"
                                         *ngIf="profileInformationFormGroup.controls.kecamatan.errors?.required">Kecamatan tidak boleh kosong
                        </kendo-formerror>
                      </div>
                    </div>
                  </kendo-formfield>
    
                  <kendo-formfield [formGroup]="profileInformationFormGroup">
                    <div class="row align-items-center">
                      <kendo-label class="col-3">Kelurahan</kendo-label>
                      <div class="col k-vstack">
                        <kendo-dropdownlist id="kelurahan" class="col w-100" [defaultItem]="defaultItemKelurahan"
                                            textField="kelurahanDescription" valueField="kelurahanId" [data]="dataResultKelurahan"
                                            (valueChange)="handleKelurahanChange($event)" formControlName="kelurahan">
                        </kendo-dropdownlist>
                        <kendo-formerror class="formHint" *ngIf="profileInformationFormGroup.controls.kelurahan.errors?.required">Kelurahan tidak boleh kosong
                        </kendo-formerror>
                      </div>
                    </div>
                  </kendo-formfield>
    
                  <kendo-formfield [formGroup]="profileInformationFormGroup">
                    <div class="row align-items-center">
                      <kendo-label class="col-3">Kode Pos</kendo-label>
                      <div class="col k-vstack">
                        <kendo-dropdownlist id="kodePos" class="col w-100" defaultItem="Pilih Kode Pos" [data]="listItems"
                                            [valuePrimitive]="true" formControlName="kodePos">
                        </kendo-dropdownlist>
                        <kendo-formerror class="formHint"
                                         *ngIf="profileInformationFormGroup.controls.kodePos.errors?.required">Kode Pos tidak boleh kosong
                        </kendo-formerror>
                      </div>
                    </div>
                  </kendo-formfield> -->
    
                  <!-- TODO -->
                  <!-- <kendo-formfield [formGroup]="profileInformationFormGroup">
                    <div class="row align-items-center">
                      <kendo-label class="col-3">Pin Geolocation</kendo-label>
                      <div class="col k-vstack">
                        <kendo-textbox id="pinGeoLoc" class="col w-100" placeholder="Type your message here" [clearButton]="true"
                                     formControlName="pinGeoLoc"></kendo-textbox>
                      </div>
                    </div>
                  </kendo-formfield> -->
                </form>
              </ng-template>
            </kendo-panelbar-item>
            <kendo-panelbar-item title="Saham">
              <ng-template kendoPanelBarContent>
                <!-- pemegang saham here -->
                <app-pemegang-saham></app-pemegang-saham>
                <!-- pemegang saham here -->
                <br>
              </ng-template>
            </kendo-panelbar-item>
            <kendo-panelbar-item title="Data Pegawai">
              <ng-template kendoPanelBarContent>
                <!-- data pegawai -->
                <app-profil-karyawan></app-profil-karyawan>
              </ng-template>
            </kendo-panelbar-item>
          </kendo-panelbar>
        </kendo-card-body>
        <kendo-card-actions style="justify-content:right;">
          <button kendoButton id="saveInformasiPerusahaanBtn" class="k-button k-primary" type="submit" (click)="save()">Simpan</button>
        </kendo-card-actions>
      </kendo-card>
    </div>
  </div>

</div>