<div class="row profile-section">

  <div class="col-2 profile-menu">
    <app-sidebar></app-sidebar>
  </div>

  <div class="col-10 profile-content-container">
    <div class="profile-content">
      <div class="profile-content-title">
        <kendo-label id="profile-label">Informasi Umum</kendo-label>
      </div>
      <kendo-card orientation="vertical" style="width: 100%;">
        <kendo-card-body class="k-vstack">


            <div class="row align-items-center justify-content-center k-vstack">
              <ng-container
                *ngIf="logoImg; then showLogo; else showDefaultLogo">
              </ng-container>

              <ng-template #showLogo>
                <div class="row align-items-center k-justify-content-center">
                  <img class="col-3" alt="logoimg" [src]="logoImg"/>
                </div>
              </ng-template>
              <ng-template #showDefaultLogo>
                <div class="row align-items-center k-justify-content-center">
                  <div class="row align-items-center k-justify-content-center">
                    <img class="col-3" alt="nopic" src="/assets/images/nologo.png" style="width: 15%; height: 15%"/>
                  </div>
                  <div class="row align-items-center k-justify-content-center">
                    <kendo-formerror *ngIf="!logoImg" class="col-3" style="text-align: center">{{dict.incomplete_data_logo}}
                    </kendo-formerror>
                  </div>
                </div>
              </ng-template>

              <kendo-fileselect id="imgPerusahaanUpload" class="col-md-auto mt-2" name="files" [multiple]="false" #files="ngModel"
                [restrictions]="imgRestrictions" [(ngModel)]="selectedFile" [ngModelOptions]="{standalone: true}" (change)="upload()">
                <kendo-fileselect-messages id="file-upload-error-message" dropFilesHere="{{errorMessage.invalidPict}}"
                  select="{{dict.select_img}}" invalidFileExtension="{{errorMessage.extension}}"
                  invalidMaxFileSize="{{errorMessage.maxSize}}">
                </kendo-fileselect-messages>
              </kendo-fileselect>
            </div>
          <kendo-panelbar id="profile-information-panelbar">
            <kendo-panelbar-item title="Data Perusahaan" [expanded]="true">
              <ng-template kendoPanelBarContent *ngIf="profileInformationFormGroup">
                <form>
                  <kendo-formfield [formGroup]="profileInformationFormGroup">
                    <div class="row align-items-center">
                      <kendo-label class="col-3">{{formField.nibQuestion}}</kendo-label>
                      <div class="col">
                        <ul class="k-radio-list k-list-horizontal">
                          <li class="k-radio-item">
                            <input id="NIBbtnTrue" type="radio" #NIBbtnTrue [value]="true"
                                   formControlName="pemilikNIB" kendoRadioButton/>
                            <kendo-label class="k-radio-label" [for]="NIBbtnTrue" text="Ya"></kendo-label>
                          </li>
      
                          <li class="k-radio-item">
                            <input id="NIBbtnFalse" type="radio" #NIBbtnFalse [value]="false"
                                   formControlName="pemilikNIB" kendoRadioButton/>
                            <kendo-label class="k-radio-label" [for]="NIBbtnFalse" text="Tidak"></kendo-label>
                          </li>
                        </ul>
                        <kendo-formerror class="formHint"
                                         *ngIf="profileInformationFormGroup.controls.pemilikNIB.errors?.required">
                          {{formField.nib}} {{dict.warning.empty_field}}
                        </kendo-formerror>
                      </div>
                    </div>
                  </kendo-formfield>
                  <kendo-formfield [formGroup]="profileInformationFormGroup">
                    <div class="row align-items-center">

                      <kendo-label class="col-3">{{formField.nib}}</kendo-label>
                      <div class="col k-vstack">
                        <kendo-textbox id="nomorIndukBerusaha" [disabled]="!this.profileInformationFormGroup.get('pemilikNIB')?.value" class="col-md w-100" placeholder="{{formField.nib}}"
                                       [clearButton]="true" [maxlength]="13"
                                       formControlName="nomorIndukBerusaha"></kendo-textbox>
                        <kendo-formerror class="formHint"
                                         *ngIf="profileInformationFormGroup.controls.nomorIndukBerusaha.errors?.required">
                                         {{formField.nib}} {{dict.warning.empty_field}}
                        </kendo-formerror>
                      </div>

                    </div>
                  </kendo-formfield>
                  <kendo-formfield [formGroup]="profileInformationFormGroup">
                    <div class="row align-items-center">
                      <kendo-label class="col-3">{{formField.namaPerusahaan}}</kendo-label>
                      <div class="col-md k-vstack">
                        <kendo-textbox id="namaPerusahaan" class="col-md w-100" placeholder="{{formField.namaPerusahaan}}"
                                       [clearButton]="true" formControlName="namaPerusahaan"></kendo-textbox>
                        <kendo-formerror class="formHint"
                                         *ngIf="profileInformationFormGroup.controls.namaPerusahaan.errors?.required">
                                         {{formField.namaPerusahaan}} {{dict.warning.empty_field}}
                        </kendo-formerror>
                      </div>
                    </div>
                  </kendo-formfield>
                  <kendo-formfield [formGroup]="profileInformationFormGroup">
                    <div class="row align-items-center">
                      <kendo-label class="col-3">{{formField.inisialPerusahaan}}</kendo-label>
                      <div class="col-md k-vstack">
                        <kendo-textbox id="inisialPerusahaanInput" class="col-md w-100" placeholder="{{formField.inisialPerusahaan}}"
                                       [clearButton]="true" [maxlength]="10"
                                       formControlName="inisialPerusahaan"></kendo-textbox>
                      </div>
                    </div>
                  </kendo-formfield>

                  <kendo-formfield [formGroup]="profileInformationFormGroup">
                    <div class="row align-items-center">
                      <kendo-label class="col-3">{{formField.jenisBadanUsaha}}</kendo-label>
                      <div class="col">
                        <ul class="k-radio-list k-list-horizontal">
                          <li class="k-radio-item">
                            <input id="ptRbtn" type="radio" #pt [value]="jenisBadanUsahaItems[0].id"
                                   formControlName="jenisBadanUsaha" kendoRadioButton/>
                            <kendo-label class="k-radio-label" [for]="pt" text="PT"></kendo-label>
                          </li>

                          <li class="k-radio-item">
                            <input id="cvRbtn" type="radio" #cv [value]="jenisBadanUsahaItems[1].id"
                                   formControlName="jenisBadanUsaha" kendoRadioButton/>
                            <kendo-label class="k-radio-label" [for]="cv" text="CV"></kendo-label>
                          </li>

                          <li class="k-radio-item">
                            <input id="otherRbt" type="radio" #other [value]="jenisBadanUsahaItems[2].id"
                                   formControlName="jenisBadanUsaha" kendoRadioButton/>
                            <kendo-label class="k-radio-label" [for]="other" text="Lainnya"></kendo-label>
                          </li>
                        </ul>
                        <kendo-formerror class="formHint"
                                         *ngIf="profileInformationFormGroup.controls.jenisBadanUsaha.errors?.required">
                                         {{formField.jenisBadanUsaha}} {{dict.warning.empty_field}}
                        </kendo-formerror>
                      </div>
                    </div>
                  </kendo-formfield>

                  <kendo-formfield [formGroup]="profileInformationFormGroup">
                    <div class="row align-items-center">
                      <kendo-label class="col-3">Status PKP</kendo-label>
                      <div class="col">
                        <input
                          id="pkp"
                          type="radio"
                          required
                          value="true"
                          formControlName="statusBadanUsaha"
                          kendoRadioButton
                        />
                        <kendo-label class="k-radio-label" for="pkp">PKP</kendo-label>
                        <input
                          id="nonpkp"
                          type="radio"
                          required
                          value="false"
                          formControlName="statusBadanUsaha"
                          kendoRadioButton
                        />
                        <kendo-label class="k-radio-label" for="nonpkp">Non PKP</kendo-label>
                        <kendo-formerror class="formHint"
                                         *ngIf="profileInformationFormGroup.controls.statusBadanUsaha.errors?.required">
                                         {{formField.statusBadanUsaha}} {{dict.warning.empty_field}}
                        </kendo-formerror>
                      </div>

                    </div>
                  </kendo-formfield>

                  <kendo-formfield [formGroup]="profileInformationFormGroup">
                    <div class="row align-items-center">
                      <kendo-label class="col-3">{{formField.tipeBadanUsaha}}</kendo-label>
                      <div class="col-md k-vstack">
                        <kendo-dropdownlist id="tipeBadanUsaha" class="col-md w-100"
                                            [defaultItem]="{ name: 'Pilih Tipe Badan Usaha', id: null }"
                                            [data]="tipeBadanUsahaItems"
                                            [itemDisabled]="itemDisabled"
                                            textField="name" valueField="id" [(ngModel)]="selectedBadanUsaha"
                                            formControlName="tipeBadanUsaha"
                                            (valueChange)="onChangeList()" required>
                        </kendo-dropdownlist>
                        <kendo-formerror class="formHint"
                                         *ngIf="profileInformationFormGroup.controls.tipeBadanUsaha.errors?.required">
                                         {{formField.tipeBadanUsaha}} {{dict.warning.empty_field}}
                        </kendo-formerror>
                      </div>
                    </div>
                  </kendo-formfield>
                  <kendo-formfield [formGroup]="profileInformationFormGroup">
                    <div class="row align-items-center">
                      <kendo-label class="col-3">{{formField.jenisKegiatanUsaha}}</kendo-label>
                      <div class="col k-vstack">
                        <kendo-dropdownlist id="jenisKegiatanUsahaUtama" class="col-md w-100"
                                            formControlName="jenisKegiatanUsahaUtama"
                                            [(ngModel)]="selectedJenisKegiatan"
                                            [defaultItem]="{ description: 'Pilih Jenis Kegiatan Usaha Utama', id: null }"
                                            [data]="jenis_kegiatan_usaha" textField="description" valueField="id">
                        </kendo-dropdownlist>
                        <kendo-formerror class="formHint"
                                         *ngIf="profileInformationFormGroup.controls.jenisKegiatanUsahaUtama.errors?.required">
                                         {{formField.jenisKegiatanUsaha}} {{dict.warning.empty_field}}
                        </kendo-formerror>
                      </div>
                    </div>
                  </kendo-formfield>

                  <kendo-formfield [formGroup]="profileInformationFormGroup">
                    <div class="row align-items-center">
                      <kendo-label class="col-3">{{formField.jenisPenyediaUsaha}}</kendo-label>
                      <div class="col k-vstack">
                        <kendo-dropdownlist id="jenisPenyediaUsaha" class="col-md w-100"
                                            formControlName="jenisPenyediaUsaha"
                                            [(ngModel)]="selectedJenisPenyedia"
                                            [defaultItem]="{ description: 'Pilih Jenis Penyedia Usaha', id: null }"
                                            [data]="jenis_penyedia_usaha" textField="description" valueField="id">
                        </kendo-dropdownlist>
                        <kendo-formerror class="formHint"
                                         *ngIf="profileInformationFormGroup.controls.jenisPenyediaUsaha.errors?.required">
                                         {{formField.jenisPenyediaUsaha}} {{dict.warning.empty_field}}
                        </kendo-formerror>
                      </div>
                    </div>
                  </kendo-formfield>

                  <kendo-formfield [formGroup]="profileInformationFormGroup">
                    <div class="row align-items-center">
                      <kendo-label class="col-3">{{formField.npwpPerusahaan}} </kendo-label>
                      <div class="col k-vstack">
                        <kendo-textbox id="npwpPerusahaan" class="col-md w-100" placeholder="Type your message here"
                                       formControlName="npwpPerusahaan" [clearButton]="true"></kendo-textbox>
                        <kendo-formerror class="formHint"
                                         *ngIf="profileInformationFormGroup.controls.npwpPerusahaan.errors?.required">
                                         {{formField.npwpPerusahaan}}  {{dict.warning.empty_field}}
                        </kendo-formerror>
                      </div>
                    </div>
                  </kendo-formfield>
                  <kendo-formfield [formGroup]="profileInformationFormGroup">
                    <div class="row align-items-center">
                      <kendo-label class="col-3">Bidang Usaha (KBLI 2020)</kendo-label>
                      <div class="col k-vstack">
                        <kendo-multiselect id="bidangUsaha" [kendoDropDownFilter]="filterSettings" class="col w-100"
                                           [data]="bidangUsahaKbli" valueField="id" textField="title"
                                           placeholder="Bidang Usaha (KBLI 2020)" formControlName="bidangUsaha"
                                           [valuePrimitive]="false">
                        </kendo-multiselect>
                        <kendo-formerror class="formHint"
                                         *ngIf="profileInformationFormGroup.controls.bidangUsaha.errors?.required">Pilih
                          salah satu bidang usaha
                        </kendo-formerror>
                      </div>
                    </div>
                  </kendo-formfield>
                  <kendo-formfield [formGroup]="profileInformationFormGroup">
                    <div class="row align-items-center">
                      <kendo-label class="col-3">BUMN Pengampu</kendo-label>
                      <div class="col k-vstack">
                        <kendo-multiselect id="bumnPengampu" class="col w-100" [data]="orgPengampu" valueField="@id"
                                           textField="party.name" placeholder="BUMN Pengampu"
                                           formControlName="bumnPengampu" [valuePrimitive]="false">
                        </kendo-multiselect>
                        <kendo-formerror class="formHint"
                                         *ngIf="profileInformationFormGroup.controls.bumnPengampu.errors?.required">
                          Pilih salah satu BUMN Pengampu
                        </kendo-formerror>
                      </div>
                    </div>
                  </kendo-formfield>

                  <kendo-formfield [formGroup]="profileInformationFormGroup">
                    <div class="row align-items-center">
                      <kendo-label class="col-3">Organisasi Himpunan</kendo-label>
                      <div class="col k-vstack">
                        <kendo-multiselect id="organisasiHimpunan" class="col w-100" [data]="orgHimpunan"
                                           valueField="@id" textField="party.name" placeholder="Organisasi Himpunan"
                                           formControlName="organisasiHimpunan" [valuePrimitive]="false">
                        </kendo-multiselect>
                      </div>
                    </div>
                  </kendo-formfield>

                  <kendo-formfield [formGroup]="profileInformationFormGroup">
                    <div class="row align-items-center">
                      <kendo-label class="col-3">{{formField.website}}</kendo-label>
                      <div class="col k-vstack">
                        <kendo-textbox id="websitePerusahaan" class="col w-100" placeholder="Website Perusahaan"
                                       [clearButton]="true" formControlName="websitePerusahaan"></kendo-textbox>
                        <kendo-formerror class="formHint"
                                         *ngIf="profileInformationFormGroup.controls.websitePerusahaan.errors?.required">
                                         {{formField.website}} {{dict.warning.empty_field}}
                        </kendo-formerror>
                      </div>
                    </div>
                  </kendo-formfield>
                  <kendo-formfield [formGroup]="profileInformationFormGroup">
                    <div class="row align-items-center">
                      <kendo-label class="col-3">{{formField.email}}</kendo-label>
                      <div class="col k-vstack">
                        <kendo-textbox id="emailPerusahaan" class="col w-100" placeholder="{{formField.email}}"
                                       [clearButton]="true" formControlName="emailPerusahaan"></kendo-textbox>
                        <kendo-formerror class="formHint"
                                         *ngIf="profileInformationFormGroup.controls.emailPerusahaan.errors?.required">
                          {{formField.email}} {{dict.warning.empty}}
                        </kendo-formerror>
                        <kendo-formerror class="formHint"
                                         *ngIf="profileInformationFormGroup.controls.emailPerusahaan.errors?.pattern">
                          {{dict.invalid_email}}
                        </kendo-formerror>
                      </div>
                    </div>
                  </kendo-formfield>
                </form>
                <div class="profile-content-grid-button mt-0">
                  <button kendoButton id="saveInformasiPerusahaanBtn" class="k-button k-primary vms-btn" type="submit"
                          (click)="submitFormVendor()">Simpan
                  </button>
                </div>
              </ng-template>
            </kendo-panelbar-item>
            <kendo-panelbar-item title="PIC" [expanded]="true">
              <ng-template kendoPanelBarContent>
                <!-- data PIC -->
                <app-profile-person-in-charge></app-profile-person-in-charge>
              </ng-template>
            </kendo-panelbar-item>
            <kendo-panelbar-item title="Korespondensi" [expanded]="true">
              <ng-template kendoPanelBarContent>
                <!-- data Korespondensi -->
                <app-profile-alamat></app-profile-alamat>
              </ng-template>
            </kendo-panelbar-item>
          </kendo-panelbar>
        </kendo-card-body>
        <kendo-card-actions style="justify-content:right;">
        </kendo-card-actions>
      </kendo-card>
    </div>
  </div>
  <div kendoDialogContainer></div>
  <app-popup-message [title]="popUpTitle" [message]="popUpMessage" [yesButton]="true"></app-popup-message>
  <kendo-dialog id="popup-confirm-save"
                title="Konfirmasi"
                *ngIf="opened"
                (close)="close()"
                [minWidth]="250"
                [width]="450">
    <p style="margin: 30px; text-align: center;">
      Simpan data profil perusahaan ?
    </p>
    <kendo-dialog-actions id="popup-action-confirm-save">
      <button kendoButton id="btn-popup-no" (click)="close()">Tidak</button>
      <button kendoButton id="btn-popup-yes" (click)="save(); close()" [primary]="true">Ya</button>
    </kendo-dialog-actions>
  </kendo-dialog>
</div>
