<div>
  <kendo-label>Pegawai</kendo-label>
  <br>
  <kendo-grid [pageSize]="5" [data]="gridDataPegawai" [pageable]="true" [resizable]="true">
    <kendo-grid-column field="no" title="No.">
      <ng-template kendoGridCellTemplate let-rowIndex="rowIndex">
        {{rowIndex + 1}}
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column title="NIK">
      <ng-template kendoGridCellTemplate let-dataItem>
        {{ dataItem.nik }}
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column title="Nama Pegawai">
      <ng-template kendoGridCellTemplate let-dataItem>
        {{ dataItem.fromParty.firstName + " " + dataItem.fromParty.lastName }}
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column title="Tipe Karyawan">
      <ng-template kendoGridCellTemplate let-dataItem>
        {{ dataItem.sdmType.name }}
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column title="Jabatan">
      <ng-template kendoGridCellTemplate let-dataItem>
        {{ dataItem.jabatan }}
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column title="Bidang Pekerjaan">
      <ng-template kendoGridCellTemplate let-dataItem>
        {{ dataItem.sdmBidang.name }}
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column title="Resume">
      <ng-template kendoGridCellTemplate let-dataItem>
        <a class="lampiran-url" (click)="download(dataItem.file.id, dataItem.file.filePath)">{{ dataItem.cvFilePath }}</a>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-command-column field="action" title="Action">
      <ng-template kendoGridCellTemplate let-dataItem>
        <span>
          <img src="/assets/icons/edit.png" alt="" class="action-button" id="btn-update" (click)="updateForm(dataItem)">
        </span>
        <span>
          <img src="/assets/icons/delete.png" alt="" class="action-button" id="btn-delete" (click)="deleteConfirmation(dataItem.id, dataItem.fromParty.firstName + ' ' + dataItem.fromParty.lastName)">
        </span>
      </ng-template>
    </kendo-grid-command-column>
  </kendo-grid>
  <br>
  <button id="addPegawaiBtn" kendoButton look="flat" *ngIf="!opened" (click)="open()" icon="k-icon k-i-plus-outline"
    style="float: right; color:#0193AC;">
    Tambah Pegawai
  </button>

  <kendo-dialog id="addPegawaiDialog" title="Tambah Pegawai" *ngIf="opened" (close)="close()">
    <div class="container">
      <form [formGroup]="pegawaiFormGroup">
        <kendo-formfield [formGroup]="pegawaiFormGroup">
          <div class="row">
            <kendo-label class="col">NIK</kendo-label>
            <div class="col k-vstack">
              <kendo-textbox id="nikPegawaiInput" formControlName="nik" class="col-md"
              placeholder="Type your message here" [clearButton]="true" #nik>
            </kendo-textbox>
            <kendo-formerror class="col formHint" *ngIf="pegawaiFormGroup.controls.nik.errors?.required">NIK Karyawan harus diisi</kendo-formerror>
            </div>
          </div>
        </kendo-formfield>
        <kendo-formfield [formGroup]="pegawaiFormGroup">
          <div class="row">
            <kendo-label class="col">First Name</kendo-label>
            <div class="col k-vstack">
              <kendo-textbox id="firstName" class="col-md" formControlName="firstName"
              placeholder="Type your message here" #namaPegawai [clearButton]="true">
            </kendo-textbox>
            <kendo-formerror class="col formHint" *ngIf="pegawaiFormGroup.controls.firstName.errors?.required">Nama Karyawan harus diisi</kendo-formerror>
            </div>
          </div>
        </kendo-formfield>
        <kendo-formfield [formGroup]="pegawaiFormGroup">
          <div class="row">
            <kendo-label class="col">Last Name</kendo-label>
            <div class="col k-vstack">
              <kendo-textbox id="lastName" class="col-md" formControlName="lastName"
              placeholder="Type your message here" #namaPegawai [clearButton]="true">
            </kendo-textbox>
            <kendo-formerror class="col formHint" *ngIf="pegawaiFormGroup.controls.lastName.errors?.required">Nama Karyawan harus diisi</kendo-formerror>
            </div>
          </div>
        </kendo-formfield>
        <kendo-formfield [formGroup]="pegawaiFormGroup">
          <div class="row">
            <kendo-label class="col">Tipe Karyawan</kendo-label>
            <div class="col k-vstack">
              <kendo-dropdownlist id="tipeKaryawanDropdown" formControlName="tipeKaryawan" class="col-md"
              [defaultItem]="{ name: 'Pilih Tipe Karyawan', id: null }" textField="name" valueField="id"
              [data]="tipeSource" #tipeKaryawan>
            </kendo-dropdownlist>
            <kendo-formerror class="col formHint" *ngIf="pegawaiFormGroup.controls.tipeKaryawan.errors?.required">Mohon pilih salah satu opsi tipe karyawan</kendo-formerror>
            </div>
          </div>
        </kendo-formfield>
        <kendo-formfield [formGroup]="pegawaiFormGroup">
          <div class="row">
            <kendo-label class="col">Jabatan</kendo-label>
            <div class="col k-vstack">
              <kendo-textbox id="jabatanKaryawanInput" class="col-md" placeholder="Type your message here"
              [maxlength]="25" [clearButton]="true" formControlName="jabatan" #jabatan></kendo-textbox>
              <kendo-formerror class="col formHint" *ngIf="pegawaiFormGroup.controls.jabatan.errors?.required">Jabatan tidak boleh kosong</kendo-formerror>
            </div>
          </div>
        </kendo-formfield>
        <kendo-formfield [formGroup]="pegawaiFormGroup">
          <div class="row">
            <kendo-label class="col">Bidang Pekerjaan</kendo-label>
            <div class="col k-vstack">
              <kendo-dropdownlist id="bidangPekerjaan" formControlName="bidangPekerjaan" [filterable]="true" class="col"
              [defaultItem]="{ name: 'Masukkan nama bidang pekerjaan, contoh: IT, Human Resource...', id: null }" textField="name" valueField="id" [data]="bidangTemp" (filterChange)="handleFilter($event)" #bidangPekerjaan [(ngModel)]="selectedBidang" >
              <ng-template kendoDropDownListNoDataTemplate>
                <div>
                  Data bidang pekerjaan tidak ditemukan
                  <ng-container *ngIf="filter">Apakah anda mau menambahkan - "{{ filter }}" ?</ng-container>
                  <br />
                  <button *ngIf="filter" class="k-button" (click)="addNewBidang()">
                    Tambah bidang baru
                  </button>
                </div>
              </ng-template>
            </kendo-dropdownlist>
            <kendo-formerror class="col formHint" *ngIf="pegawaiFormGroup.controls.bidangPekerjaan.errors?.required">Bidang Pekerjaan tidak boleh kosong</kendo-formerror>
            </div>
          </div>
        </kendo-formfield>
        <kendo-formfield [formGroup]="pegawaiFormGroup">
          <div class="row">
            <kendo-label class="col">Resume</kendo-label>
            <div class="col">
              <kendo-fileselect id="resumeKaryawanUpload" [multiple]="false" [restrictions]="fileRestrictions" [(ngModel)]="selectedFile" [ngModelOptions]="{standalone: true}" (change)="upload()">
                <kendo-fileselect-messages
                dropFilesHere="Tidak ada file terpilih"
                select="Pilih file"
                invalidFileExtension="Ekstensi file harus berformat pdf, doc, docx"
                invalidMaxFileSize="Maksimum Ukuran File adalah 2 MB"
                >
                </kendo-fileselect-messages>
              </kendo-fileselect>
              <p style="font-style: italic;font-size: small;">*Dokumen dapat berupa doc, docx, PDF, maks 2MB</p>
            </div>
          </div>

        </kendo-formfield>
      </form>
    </div>

    <kendo-dialog-actions>
      <button kendoButton id="saveKaryawanFormBtn" (click)="submitProfilKaryawan()" [primary]="true">Simpan</button>
      <button kendoButton id="closeKaryawanFormBtn" (click)="close()" [primary]="false">Batal</button>
    </kendo-dialog-actions>
  </kendo-dialog>
</div>

<div kendoDialogContainer></div>
<app-popup-message [title]="popUpTitle" [message]="popUpMessage" [yesButton]="true"></app-popup-message>