<div class="profile-section">

  <div class="profile-menu">
    <app-sidebar></app-sidebar>
  </div>
  
  <div class="profile-content">

    <div class="profile-content-title">
      <kendo-label>Asset</kendo-label>
    </div>
    
    <div class="profile-content-grid">
      <kendo-grid>
        <kendo-grid-column field="no" title="No.">
        </kendo-grid-column>
        <kendo-grid-column field="shareholder_name" title="Nama Asset">
        </kendo-grid-column>
        <kendo-grid-column field="shareholder_type" title="Jumlah (Unit)">
        </kendo-grid-column>
        <kendo-grid-column field="is_domestic_shareholder" title="Tahun Pembuatan">
        </kendo-grid-column>
        <kendo-grid-column field="action" title="Action">
        </kendo-grid-column>
      </kendo-grid>
      
      <div class="profile-content-grid-button">
        <button kendoButton *ngIf="!opened" (click)="open()" icon="k-icon k-i-plus-outline" class="vms-btn vms-btn-primary">
          Tambah Asset
        </button>
      </div>
      
    </div>

    <div class="profile-content-modal">
      <kendo-window title="Tambah Asset" *ngIf="opened" (close)="close()" [minWidth]="250" [width]="600">
        <form class="k-form">
          
          <label class="k-form-field">
            <span>Nama Asset</span>
            <input class="k-textbox" placeholder="" />
          </label>
          <label class="k-form-field">
            <span>Jumlah</span>
            <input class="k-textbox" placeholder="" />
          </label>
          <label class="k-form-field">
            <span>Tahun Pembuatan</span>
            <input class="k-textbox" placeholder="" />
          </label>

          <div class="k-actions k-actions-end">
            <div class="profile-content-modal-btn">
              <button type="button" class="k-button k-primary vms-btn vms-btn-primary" (click)="submit()">
                Simpan
              </button>
            </div>
            <div class="profile-content-modal-btn">
              <button type="button" class="k-button vms-btn" (click)="close()">
                Batal
              </button>
            </div>
          </div>
        </form>
      </kendo-window>

    </div>

  </div>
  
</div>
