<div class="row profile-section">

  <div class="col-2 profile-menu">
    <app-sidebar></app-sidebar>
  </div>

  <div class="col-10 profile-content-container">
    <div class="profile-content">
      
      <div class="profile-content-title">
        <kendo-label>Dashboard</kendo-label>
      </div>

      <div class="dashboard-tender">
        <div class="row">
          <div class="col-md-3 dashboard-tender-content align-center">
            <div class="tender-info-item">
              {{tenders.total}} Total Tender
            </div>
          </div>
          <div class="col-md-3 dashboard-tender-content align-center">
            <div class="tender-info-item">
              {{tenders.followed}} Tender Diikuti
            </div>
          </div>
          <div class="col-md-3 dashboard-tender-content align-center">
            <div class="tender-info-item">
              {{tenders.onGoing}} Tender Berjalan
            </div>
          </div>
          <div class="col-md-3 dashboard-tender-content align-center">
            <div class="tender-info-item">
              {{tenders.denied}} Tender Ditolak
            </div>
          </div>
        </div>
      </div>

      <div class="profile-content-title sub-title">
        <kendo-label>Status Anda</kendo-label>
      </div>

      <div class="dashboard-info dashboard-status">
        <div class="row">
          <div class="col-md-3">
            <div class="center-logo">
              <i class="col-md-auto" [class]="star" style="font-size: 4.5em; color: #0193AC;"></i>
            </div>
          </div>
          <div class="col-md-3">
            <div class="center-text">
              <p>
                <b class="sub-title">{{vendor.type}}</b>
                <br>
                {{vendor.status}}
              </p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row status-content">
              <div class="col-6 status-item">
                Terdaftar Sejak:
              </div>
              <div class="col-6">
                {{vendor.registeredDate}}
              </div>
            </div>
            <div class="row status-content">
              <div class="col-6 status-item">
                Pengkinian data terakhir:
              </div>
              <div class="col-6">
                {{vendor.lastUpdatedDate}}
              </div>
            </div>
            <div class="row status-content">
              <div class="col-6 status-item">
                Terverifikasi Sejak:
              </div>
              <div class="col-6">
                {{vendor.verifiedDate}}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="dashboard-info dashboard-verification-status">
        <div class="row status-title">
          <div class="col-md-4">
            
          </div>
          <div class="col-md-4">
            Status Pengisian Data
          </div>
          <div class="col-md-4">
            Status Pengajuan Verifikasi
          </div>
        </div>

        <div class="row status-content">
          <div class="col-md-4 status-item">
            Informasi Umum
          </div>
          <div class="col-md-4 status-checklist">
            <input class="verifikasi-checkbox" type="checkbox" disabled [checked]="verification.informasi_umum.status" #informasiUmum kendoCheckBox/>
            {{verification.informasi_umum.text}}
          </div>
          <div class="col-md-4 status-date">
            {{verification.tata_kelola_perusahaan.submission_status}}
          </div>
        </div>

        <div class="row status-content">
          <div class="col-md-4 status-item">
            Tata Kelola Perusahaan
          </div>
          <div class="col-md-4 status-checklist">
            <input class="verifikasi-checkbox" type="checkbox" disabled [checked]="verification.tata_kelola_perusahaan.status" #informasiUmum kendoCheckBox/>
            {{verification.tata_kelola_perusahaan.text}}
          </div>
          <div class="col-md-4 status-date">
            {{verification.tata_kelola_perusahaan.submission_status}}
          </div>
        </div>

        <div class="row status-content">
          <div class="col-md-4 status-item">
            Aspek Finansial
          </div>
          <div class="col-md-4 status-checklist">
            <input class="verifikasi-checkbox" type="checkbox" disabled [checked]="verification.aspek_finansial.status" #informasiUmum kendoCheckBox/>
            {{verification.aspek_finansial.text}}
          </div>
          <div class="col-md-4 status-date">
            {{verification.aspek_finansial.submission_status}}
          </div>
        </div>

        <div class="row status-content">
          <div class="col-md-4 status-item">
            Aspek Legal
          </div>
          <div class="col-md-4 status-checklist">
            <input class="verifikasi-checkbox" type="checkbox" disabled [checked]="verification.aspek_legal.status" #informasiUmum kendoCheckBox/>
            {{verification.aspek_legal.text}}
          </div>
          <div class="col-md-4 status-date">
            {{verification.aspek_legal.submission_status}}
          </div>
        </div>

        <div class="row status-content">
          <div class="col-md-4 status-item">
            Riwayat Pekerjaan
          </div>
          <div class="col-md-4 status-checklist">
            <input class="verifikasi-checkbox" type="checkbox" disabled [checked]="verification.riwayat_pekerjaan.status" #informasiUmum kendoCheckBox/>
            {{verification.riwayat_pekerjaan.text}}
          </div>
          <div class="col-md-4 status-date">
            {{verification.riwayat_pekerjaan.submission_status}}
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
