.vendor-steps-row{
  margin: 0 0 1rem;
}

.vendor-profile-detail{
  margin-left: 1em;
}

.vendor-profile{
  margin-bottom: 1em;
}

.vendor-hint{
  font-style: italic;
  font-size: smaller;
}

/* .profile-menu {
  float: left;
  height: 100vh;
}

.profile-content {
  padding: 40px;
  display: table;
  width: 82%;
} */

.button-right {
  float: right;
}


.container-profile {
  min-width: 300px;
  padding: 10px;
}

.container-profile-avatar {
  max-width: 30%;
  padding: 10px;
}

.dashboard-info {
  border-radius: 10px;
  border-style: solid;
  border-color: #d8d8d8;
  padding: 1em 1em 1em 1em;
  margin: 0em 0em 2em 0em;
}

.dashboard-status {
  font-size: 15px;
}

.sub-title {
  font-weight: bold;
  font-size: medium;
}

.status-title {
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}

.status-content {
  padding: 10px 0px !important;
}

.status-item {
  font-size: 14px;
  font-weight: bold;
}

.status-checklist {
  font-size: 14px;
  text-align: center;
}

.status-date {
  font-size: 13px;
  text-align: center;
}

.align-center {
  text-align: center;
}

.center-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%; 
}

.center-logo {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 100%; 
}

.center-text > p {
  margin: unset;
  text-align: center;
  padding: 0em 1em;
}

.dashboard-tender {
  margin: 0em 0em 1em 0em;
}

.dashboard-tender-content {
  padding: 0em 1em;
}

.tender-info-item {
  border-radius: 10px;
  min-height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(100.89deg, #B6D7DD 41.74%, #0193AC 136.55%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 0em 2em;
}

.tender-info-item-number {
  font-size: 28px;
  width: 100%;
  color: #0193AC;
}