<div class="vendor-info-section">
  <kendo-card orientation="vertical">
    <kendo-card-header class="k-vstack">
      <div class="vendor-type k-hstack">
        <div class="vendor-badge">
          <kendo-avatar
            width="40px"
            height="40px"
            initials="V"
            shape="circle"
          ></kendo-avatar>
        </div>
        <div class="k-vstack">
          <h1 kendoCardTitle>Vendor</h1>
          <p kendoCardSubtitle>Aktif</p>
        </div>
      </div>
      <div class="vendor-hint">
        <p>Perhatian: Silahkan lengkapi profil anda agar bisa berpartisipasi pada Tender BUMN</p>
      </div>
    </kendo-card-header>
    <kendo-card-body>

    </kendo-card-body>
  </kendo-card>

</div>