<div class="sidebar-section">
    <div class="layout">
        <div class="navigation-pane">
            <kendo-panelbar (stateChange)="stateChange($event)" [selectable]="false" class="vms-sidebar">
                <kendo-panelbar-item *ngFor="let item of menu" 
                    [id]="item.id" 
                    [title]="item.title ? item.title : 'home'" 
                    [selected]="item.title == selectedId" 
                    class="vms-sidebar-item" 
                    [ngClass]="item.title == 'Dashboard' ? 'parent-sidebar' : '' " 
                    [routerLink]="item?.route" 
                    [expanded]="item?.expanded ? true : false" 
                    [selected]="item?.expanded ? true : false" >

                    <kendo-panelbar-item *ngFor="let child of item.children" 
                        [title]="child?.title || 'about'" 
                        [id]="child.id ? child.id  : item.id" 
                        [selected]="item.title + '/' + child?.title == selectedId"  
                        [routerLink]="child?.route" 
                        class="k-state-active">
                    </kendo-panelbar-item>
                </kendo-panelbar-item>
            </kendo-panelbar>
        </div>
        <div class="content-pane">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>


