.spacer {
  flex: 1;
}

.toolbar img {
  margin: 0 20px;
}

.toolbar #sign-in-logo {
  height: 25px;
  margin: 0 15px;
  color: white;
}

.toolbar #sign-in-logo:hover{
  opacity: 0.5;
}

.nav {
  flex-wrap: nowrap!important;
}

.nav-link {
  color: #0193AC !important;
  font-size: medium !important;
  margin: 0 10px !important;
}

a,
a:visited,
a:hover {
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  color: #125699;
}

/* Responsive Styles */
@media screen and (max-width: 500px) {
  
}
