<div class="row footer-container">
    <div class="col-12 footer">
        <div class="footer-content">
            <p>
                Peringatan : Program ini dilindungi oleh undang - undang. <br>
                Penggandaan atau pendistribusian program yang tidak sah, atau bagian apapun, <br>
                dapat mengakibatkan hukuman perdata dan pidana, dan akan dituntut semaksimal mungkin menurut hukum.
            </p>
        </div>
    </div>
    <div class="col-12 copyright">
        <div class="copyright-content">
            <p> &copy; 2021 Kementrian BUMN, Hak Cipta dilindungi. </p>
        </div>
    </div>
</div>
<app-vms-loader></app-vms-loader>
