<div class="row profile-section">

  <div class="profile-content-modal">

    <kendo-dialog title="Tambah Alamat" *ngIf="opened" (close)="close()" [minWidth]="250" [width]="600">
      <form  class="k-form modal-form">

        <div class="row">
          <div class="col-4 modal-label">
            <p>Nama Alamat</p>
          </div>
          <div class="col-8 modal-field">
            <kendo-formfield [formGroup]="form">
              <kendo-textbox class="formField" id ="namaAlamat" placeholder="Type your message here" formControlName="namaAlamat" [clearButton]="true" #namaAlamat required></kendo-textbox>         
              <kendo-formhint></kendo-formhint>
              <kendo-formerror>Nama Alamat tidak boleh kosong</kendo-formerror>
            </kendo-formfield>
          </div>
        </div>

        <div class="row">
          <div class="col-4 modal-label">
            <p>Alamat</p>
          </div>
          <div class="col-8 modal-field">
            <kendo-formfield [formGroup]="form">
              <kendo-textbox class="formField" id="alamat" placeholder="Type your message here" formControlName="alamat" [clearButton]="true" #alamat required></kendo-textbox>
              <kendo-formhint></kendo-formhint>
              <kendo-formerror>Alamat tidak boleh kosong</kendo-formerror>
            </kendo-formfield>
          </div>
        </div>

        <div class="row">
          <div class="col-4 modal-label">
            <p>Provinsi</p>
          </div>
          <div class="col-8 modal-field">
            <kendo-formfield [formGroup]="form">
              <kendo-dropdownlist id ="provinsi" class="formField" [defaultItem]="defaultItemProvinsi" [data]="listProvinsi" textField="description" valueField="id" formControlName="provinsi" [valuePrimitive]="true" (valueChange)="onChangeProvinsi($event)"></kendo-dropdownlist>
              <kendo-formhint></kendo-formhint>
              <kendo-formerror>Provinsi tidak boleh kosong</kendo-formerror>
            </kendo-formfield>
          </div>
        </div>

        <div class="row">
          <div class="col-4 modal-label">
            <p>Kota / Kabupaten</p>
          </div>
          <div class="col-8 modal-field">
            <kendo-formfield [formGroup]="form">
              <kendo-dropdownlist id ="kota" class="formField" [defaultItem]="defaultItemKota" [data]="listKota" textField="description" valueField="id" formControlName="kota" [valuePrimitive]="true" [disabled]="isDisabledKota" [valuePrimitive]="true" (valueChange)="onChangeKota($event)"></kendo-dropdownlist>
              <kendo-formhint></kendo-formhint>
              <kendo-formerror>Kota / Kabupaten tidak boleh kosong</kendo-formerror>
            </kendo-formfield>
          </div>
        </div>

        <div class="row">
          <div class="col-4 modal-label">
            <p>Kecamatan</p>
          </div>
          <div class="col-8 modal-field">
            <kendo-formfield [formGroup]="form">
              <kendo-dropdownlist id ="kecamatan" class="formField" [defaultItem]="defaultItemKecamatan" [data]="listKecamatan" textField="description" valueField="id" formControlName="kecamatan" [valuePrimitive]="true" [disabled]="isDisabledKecamatan" [valuePrimitive]="true" (valueChange)="onChangeKecamatan($event)"></kendo-dropdownlist>
              <kendo-formhint></kendo-formhint>
              <kendo-formerror>Kecamatan tidak boleh kosong</kendo-formerror>
            </kendo-formfield>
          </div>
        </div>

        <div class="row">
          <div class="col-4 modal-label">
            <p>Kelurahan</p>
          </div>
          <div class="col-8 modal-field">
            <kendo-formfield [formGroup]="form">
              <kendo-dropdownlist id ="kelurahan" class="formField" [defaultItem]="defaultItemKelurahan" [data]="listKelurahan" textField="description" valueField="id" formControlName="kelurahan" [valuePrimitive]="true" [disabled]="isDisabledKelurahan" [valuePrimitive]="true" (valueChange)="onChangeKelurahan($event)"></kendo-dropdownlist>
              <kendo-formhint></kendo-formhint>
              <kendo-formerror>Kelurahan tidak boleh kosong</kendo-formerror>
            </kendo-formfield>
          </div>
        </div>

        <div class="row">
          <div class="col-4 modal-label">
            <p>Kode Pos</p>
          </div>
          <div class="col-8 modal-field">
            <kendo-formfield [formGroup]="form">
              <kendo-dropdownlist id ="kosepos" class="formField" [defaultItem]="defaultItemKodepos" [data]="listKodepos" textField="description" valueField="id" formControlName="kodepos" [valuePrimitive]="true" [disabled]="isDisabledKodepos" [valuePrimitive]="true"></kendo-dropdownlist>
              <kendo-formhint></kendo-formhint>
              <kendo-formerror>Kode Pos tidak boleh kosong</kendo-formerror>
            </kendo-formfield>
          </div>
        </div>        

        <div class="k-actions k-actions-end">
          <div class="profile-content-modal-btn">
            <button type="button" class="k-button vms-btn" (click)="close()" id="btn-batal-alamat">
              Batal
            </button>
          </div>
          <div class="profile-content-modal-btn">
            <button type="button" id="btn-submit-alamat" class="k-button k-primary vms-btn vms-btn-primary" (click)="submit()">
              Simpan
            </button>
          </div>
        </div>

      </form>
    </kendo-dialog>

  </div>

  <div class="col-2 profile-menu">
    <app-sidebar></app-sidebar>
  </div>

  <div class="col-10 profile-content-container">
    <div class="profile-content">
      
      <div class="profile-content-title">
        <kendo-label>Alamat</kendo-label>
      </div>
  
      <div>
        <kendo-grid [data]="gridData">
          <kendo-grid-column field="no" title="No.">
          </kendo-grid-column>
          <kendo-grid-column field="namaAlamat" title="Nama Alamat">
          </kendo-grid-column>
          <kendo-grid-column field="alamat" title="Alamat">
          </kendo-grid-column>
          <kendo-grid-column field="provinsi" title="Provinsi">
          </kendo-grid-column>
          <kendo-grid-column field="kota" title="Kota">
          </kendo-grid-column>
          <kendo-grid-column field="id" title="Action">
            <ng-template kendoGridCellTemplate let-dataItem>
              <span>
                <img src="/assets/icons/edit.png" alt="" class="action-button" (click)="updateForm(dataItem)" id="btn-update">
              </span>
              <span>
                <img src="/assets/icons/delete.png" alt="" class="action-button" (click)="delete(dataItem.id)" id="btn-delete">
              </span>
            </ng-template>
          </kendo-grid-column>
        </kendo-grid>

        <div class="k-actions k-actions-end">
          <div class="col-2 profile-content-grid-button">
            <button kendoButton *ngIf="!opened" (click)="open()" icon="k-icon k-i-plus-outline" class="vms-btn vms-btn-primary" id="btn-tambah-alamat">
              Tambah Alamat
            </button>
          </div>
        </div>
  
      </div>
  
    </div>
  </div>

</div>

<app-popup-message [title]="popUpTitle" [message]="popUpMessage" [yesButton]="true"></app-popup-message>