<div class="row profile-section">

  <!-- <div class="profile-content-modal">
    <kendo-dialog title="Tambah Alamat" *ngIf="opened" (close)="close()">

      <form [formGroup]="companyAddressFormGroup">

        <div class ="wrap">
          <kendo-label class="labelForm">No</kendo-label>
          <kendo-textbox class="formField" placeholder="Type your message here" [clearButton]="true"></kendo-textbox>
        </div>
        <div class ="wrap">
          <kendo-label class="labelForm">Nama Alamat</kendo-label>
          <kendo-textbox class="formField" id ="namaAlamat" placeholder="Type your message here" formControlName="namaAlamat" [clearButton]="true"></kendo-textbox>
        </div>
        <div class ="wrap">
          <kendo-label class="labelForm">Alamat</kendo-label>
          <kendo-textbox class="formField" id="alamat" placeholder="Type your message here" formControlName="alamat" [clearButton]="true"></kendo-textbox>
        </div>
        <div class ="wrap">
          <kendo-label class="labelForm">Provinsi / Kota</kendo-label>
          <kendo-dropdownlist id ="provinsi" class="formField" defaultItem="Pilih Provinsi / Kota" [data]="listItems" formControlName="provinsi" [valuePrimitive]="true">
          </kendo-dropdownlist>
        </div>
        <div class ="wrap">
          <kendo-label class="labelForm">Kota / Kabupaten</kendo-label>
          <kendo-dropdownlist id ="kecamatan" class="formField" defaultItem="Pilih Kota / Kabupaten" [data]="listItems" formControlName="kecamatan" [valuePrimitive]="true">
          </kendo-dropdownlist>
        </div>
        <div class ="wrap">
          <kendo-label class="labelForm">Kelurahan</kendo-label>
          <kendo-dropdownlist id ="kelurahan" class="formField" defaultItem="Pilih Kelurahan" [data]="listItems" formControlName="kelurahan" [valuePrimitive]="true">
          </kendo-dropdownlist>
        </div>
        <div class ="wrap">
          <kendo-label class="labelForm">Kode Pos</kendo-label>
          <kendo-textbox class="formField" id ="kodePos" placeholder="Type your message here" formControlName="kodePos" [clearButton]="true"></kendo-textbox>
        </div>
        <div class ="wrap">
          <kendo-label class="labelForm">Pin Geolocation</kendo-label>
          <kendo-textbox class="formField" id ="geoLocation" placeholder="Type your message here" formControlName="geoLocation" [clearButton]="true"></kendo-textbox>
        </div>

      </form>
      <kendo-dialog-actions>
        <div class="k-actions k-actions-end">
          <div class="profile-content-modal-btn">
            <button class="k-button vms-btn" kendoButton (click)="close()">
              Batal
            </button>
          </div>

          <div class="profile-content-modal-btn">
            <button id="submitCompanyAddress" class="k-button k-primary vms-btn vms-btn-primary" kendoButton (click)="submit()" [primary]="false">
              Simpan
            </button>
          </div>
        </div>
      </kendo-dialog-actions>
    </kendo-dialog>
  </div> -->

  <div class="col-2 profile-menu">
    <app-sidebar></app-sidebar>
  </div>

  <div class="col-10 profile-content-container">
    <div class="profile-content">
      <kendo-label>Alamat</kendo-label>
      <br><br>
  
      <div>
        <kendo-grid [data]="gridData">
          <kendo-grid-column field="no" title="No.">
          </kendo-grid-column>
          <kendo-grid-column field="namaAlamat" title="Nama Alamat">
          </kendo-grid-column>
          <kendo-grid-column field="alamat" title="Alamat">
          </kendo-grid-column>
          <kendo-grid-column field="provinsi" title="Provinsi">
          </kendo-grid-column>
          <kendo-grid-column field="kota" title="Kota">
          </kendo-grid-column>
          <kendo-grid-column field="id" title="Action">
            <ng-template kendoGridCellTemplate let-dataItem>
              <span>
                <img src="/assets/icons/edit.png" alt="" class="action-button" (click)="updateForm(dataItem)" id="btn-update">
              </span>
              <span>
                <img src="/assets/icons/delete.png" alt="" class="action-button" (click)="delete(dataItem.id)" id="btn-delete">
              </span>
            </ng-template>
          </kendo-grid-column>
        </kendo-grid>
        <br>
        <button id="addPekerjaan" kendoButton *ngIf="!opened" (click)="open()" icon="k-icon k-i-plus-outline" class="vms-btn-primary button-right">
          Tambah Alamat
        </button>
  
        
      </div>
  
    </div>
  </div>

</div>
