.modal-label {
  padding: unset;
  vertical-align: middle;
}

.modal-field {
padding: unset;
margin-bottom: 0.5em;
}

.modal-field > kendo-formfield {
margin-top: unset !important;
}

.modal-form {
padding: 1em !important;
}
