.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 63px;
    display: flex;
    align-items: center;
    background-color: #0193AC;
    color: white;
    font-weight: 600;
    font-family: Open Sans;
}

body {
    background-color: #E5E5E5 !important;
    margin: 0% !important;
    margin-top: 65px !important;
}

/* KENDO */
/* ================================ */

.k-textbox, .k-autocomplete{
    box-sizing: border-box !important;
    border: 1px solid #0193AC !important;
    box-sizing: border-box;
    border-radius: 8px;
    height: 40px;
    margin-top: 2px;
}

.k-numerictextbox input {
    height: 40px !important;
}

.k-label {
    font-size: 12px;
}

/* ================================ */

/* VMS Design Guideline */
/* ================================ */

/* --- BUTTON --- */
.k-button.k-primary {
    background-color: #0193AC !important;
    border-color: #0193AC !important;
    color: white!important;
}

.vms-btn {
    width: 100%;
    height: 35px;
    border-color: grey !important;
    background: white !important;
    border-radius: 8px !important;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 17px;
    text-align: center; 
    color: black !important;
}

.vms-btn-primary {
    border-color: #0193AC !important;
    background: #0193AC !important;
    color: white !important;
}

.vms-btn:hover {
    border-color: #707070 !important;
    background: #707070 !important;
    border-radius: 8px !important;
    color: white !important;
}
/* --- END BUTTON--- */


/* --- MODAL --- */
.k-dialog-titlebar {
    background-color: #0193AC !important;
    color: white !important;
}

.k-content kendo-label{
    color: #0193AC;
    font-weight: 500;
}
/* --- END MODAL--- */


/* --- LABEL --- */
label{
    font-family: Open Sans;
    font-size: 14px;
}
/* --- LABEL --- */

/* --- SIDEBAR --- */
.k-link, .k-grid-header, .k-window-titlebar, .k-dialog-titlebar{
    background-color: #0193AC !important;
    border-color: #0193AC !important;
    color: white !important;
}

.k-window {
    width: max-content;
    font-family: Open Sans;
}

.k-link:hover{
    background-color: #07b9d8 !important;
    border-color: #07b9d8 !important;
}

.k-link.k-state-selected{
    background-color: #07b9d8 !important;
    border-color: #07b9d8 !important;
}

.k-link.k-state-focused{
    box-shadow: none !important;
    color: #0193AC !important;
}


.k-panel {
    background-color: white !important;
}

.k-icon.k-panelbar-toggle {
    color: inherit !important;
}

.parent-sidebar > span.k-link {
    background: #0193AC !important;
    color: white !important;
    border-radius: 10px;
    height: 70px;
}

.k-panelbar {
    border-color: white !important;
}

.vms-sidebar {
    border-radius: 10px !important;
}

/* --- SIDEBAR --- */

/* ================================ */

/* --- PROFILE / DASHBOARD--- */
/* ================================ */

.profile-section {
    background-color: #e5e5e5;
    margin: 0% !important;
    padding: 2em 1em 2em 1em;
}

.profile-content {
    background-color: white;
    padding: 2em;
    border-radius: 10px;
}

.profile-content-container {
    padding: 1em 1em 1em 0.5em !important;
    min-height: calc(100vh - 65px - 4em) !important;
}

.profile-menu {
    float: left;
    padding: 1em 0.5em 1em 1em !important;
}

.profile-content-title {
    margin-bottom: 1em;
    font-weight: 600;
}

.profile-content-grid-button {
    margin-top: 1em;
}

.profile-content-modal-btn {
    min-width: 100px !important;
}

.k-notification-container {
    margin-top: 35px !important;
    margin-right: 35px !important;
}