.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #114497;
    color: white;
    font-weight: 600;
}

body {
    background-image: url("/assets/images/bg.png") !important;
    margin: 0% !important;
    margin-top: 60px !important;
}

/* KENDO */
/* ================================ */

.k-textbox{
    box-sizing: border-box !important;
    border-radius: 3px !important;
    height: 40px;
    margin-top: 2px;
}

.k-numerictextbox input {
    height: 40px !important;
}

.k-label {
    font-size: 12px;
}

/* ================================ */

/* VMS Design Guideline */
/* ================================ */

/* --- BUTTON --- */
.vms-btn {
    width: 100%;
    height: 35px;
    border-color: grey !important;
    background: white !important;
    border-radius: 8px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 17px;
    text-align: center; 
    color: black !important;
}

.vms-btn-primary {
    border-color: #114497 !important;
    background: #114497 !important;
    color: white !important;
}

.vms-btn:hover {
    border-color: #707070 !important;
    background: #707070 !important;
    border-radius: 8px !important;
    color: white !important;
}
/* --- END BUTTON--- */


/* --- MODAL --- */
.k-dialog-titlebar {
    background-color: #114497 !important;
}
/* --- END MODAL--- */


/* --- LABEL --- */
label{
    font-family: Montserrat;
    font-size: 14px;
}
/* --- LABEL --- */

/* --- SIDEBAR --- */
.k-link{
    background-color: #0e2456 !important;
    color: white !important;
}

.k-link:hover{
    background-color: #114497 !important;
}

.k-link.k-state-selected{
    background-color: #114497 !important;
}

.k-icon.k-panelbar-toggle {

    color: inherit !important;
}

/* --- SIDEBAR --- */

/* ================================ */

/* --- PROFILE / DASHBOARD--- */
/* ================================ */

.profile-content {
    padding: 2em !important;
    margin-left: 300px !important;
  }
  
  .profile-menu {
    float: left;
    height: 100vh;
  }
  
  .profile-content-title {
    margin-bottom: 1em;
    font-weight: 600;
  }
  
  .profile-content-grid-button {
    float: right;
    margin-top: 1em;
  }
  
  .profile-content-modal-btn {
    min-width: 100px !important;
<<<<<<< HEAD
  }
=======
  }
>>>>>>> 3b2bb0864081b90d4363fdecc7328e0165efb0be
