<div class="dokumen">
  <div class="profile-content-grid my-3">
    <kendo-grid [data]="gridData">
      <kendo-grid-column field="id" title="No.">
      </kendo-grid-column>
      <kendo-grid-column field="name" title="Nama Dokumen">
      </kendo-grid-column>
      <kendo-grid-column field="file" title="Nama File">
      </kendo-grid-column>
      <kendo-grid-column field="lampiran" title="Unggah Berkas">
        <ng-template kendoGridCellTemplate let-dataItem>
          <button kendoButton fill="flat" class="lampiran-url" (click)="this.parent.upload()">Pilih File</button>
        </ng-template>
      </kendo-grid-column>
    </kendo-grid>
  </div>
</div>