<div class="dokumen">
  <div class="profile-content-grid my-3">
    <kendo-grid [data]="gridData">
      <kendo-grid-column field="id" title="No.">
      </kendo-grid-column>
      <kendo-grid-column field="name" title="Nama Dokumen">
      </kendo-grid-column>
      <kendo-grid-column field="fileName" title="File">
        <ng-template kendoGridCellTemplate let-dataItem>
          <a>{{dataItem.namaDokumen}}</a>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="lampiran" title="Unggah Berkas">
        <ng-template kendoGridCellTemplate let-dataItem>
          <kendo-fileselect [multiple]="false" [restrictions]="fileRestrictions">
            <kendo-fileselect-messages
            select="Pilih file">
            </kendo-fileselect-messages>
          </kendo-fileselect>
        </ng-template>
      </kendo-grid-column>
    </kendo-grid>
  </div>
</div>