<div class="demo">
  <kendo-card class="k-card-box">
    <kendo-card-header class="k-hstack">
      <kendo-avatar
        width="40px"
        height="40px"
        [imageSrc]="avatarSrc"
      ></kendo-avatar>
      <div>
        <h1 class="k-card-titles">Governance, Transaparansi dan Digital Procurement</h1>
      </div>
    </kendo-card-header>
    <kendo-card-body>
        <p>
          Digitalisasi proses procurement agar procurement lebih transparan.
        </p>
      </kendo-card-body>
  </kendo-card>


  <kendo-card class="k-card-box">
    <kendo-card-header class="k-hstack">
      <kendo-avatar
        width="40px"
        height="40px"
        [imageSrc]="avatarSrc"
      ></kendo-avatar>
      <div>
        <h1 class="k-card-titles">Efisiensi dan Sinergi Berkelanjutan</h1>
      </div>
    </kendo-card-header>
    <kendo-card-body>
        <p>
          Efisiensi dan sinergi dari proses procurement BUMN.
        </p>
      </kendo-card-body>
  </kendo-card>


  <kendo-card class="k-card-box">
    <kendo-card-header class="k-hstack">
      <kendo-avatar
        width="40px"
        height="40px"
        [imageSrc]="avatarSrc"
      ></kendo-avatar>
      <div>
        <h1 class="k-card-titles">Mendorong Pemberdayaan UMKM</h1>
      </div>
    </kendo-card-header>
    <kendo-card-body>
        <p>
          Mendorong dan membuka kesempatan bagi para pelaku Usaha Mikro, Kecil, Menengah dalam prooses procurement di BUMN.
        </p>
      </kendo-card-body>
  </kendo-card>


  <kendo-card class="k-card-box">
    <kendo-card-header class="k-hstack">
      <kendo-avatar
        width="40px"
        height="40px"
        [imageSrc]="avatarSrc"
      ></kendo-avatar>
      <div>
        <h1 class="k-card-titles">Optimalisasi TKDN</h1>
      </div>
    </kendo-card-header>
    <kendo-card-body>
        <p>
          Meningkatkan Tingkat Kandungan Dalam Negri (TKDN) dalam proses procurement di BUMN.
        </p>
      </kendo-card-body>
  </kendo-card>
</div>